.fm-container * {
    font-family: Oxygen, Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.fm-container {
    background-color: #FFF;
}

.fm-container .fm-header .breadcrumbs {
    color: #000000;
}

.fm-container .fm-splitter .splitter-bar-vertical {
    width: 6px;
}

.fm-container .fm-filetree {
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
}

.fm-container .fm-fileinfo {
    border: 1px solid #ccc;
    background-color: #fff;
}

.fm-container .fm-preview .fm-preview-title h1 {
    color: #8fabc6;
}

.fm-container .fm-preview .fm-preview-details td {
    color: #333;
    border-bottom: 1px dotted #ccc;
}

.fm-container button {
    color: #777777;
    background-color: #ffffff;
    padding: 0.1em 0.3em;
    border: 1px solid #dcdcdc;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.fm-container button:hover {
    background-color: #dfdfdf;
}

.fm-container #filepath {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.fm-container #folder-info {
    color: #777;
}

.fm-container #summary {
}

.fm-container #link-to-project {
}

.fm-container .search-box input {
    background-color: #ffffff;
}

.fm-container .search-box input:focus {
    background-color: #f5f5f5;
}

.fm-container .drag-helper-grid,
.fm-container .view-items .grid li {
    width: 142px;
}

.fm-container .view-items .grid li.drop-hover,
.fm-container .view-items .list tr.drop-hover {
    background-color: #e0e0e0;
}

.fm-container .view-items .list td {
    border-bottom: 1px dotted #ccc;
}

.fm-popup.alertify .fm-fileupload-container #total-progress {
    background-color: #A7A1C6;
}

.fm-popup.alertify .fm-fileupload-container #total-progress .progress-bar {
    background-color: #294750;
}

.fm-container .drag-helper-grid {
    width: 142px;
}