<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title th:text="#{title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="js/functions.js"></script>
<script src="js/loadingoverlay.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/admin.css" />
<link rel="stylesheet" type="text/css" href="css/admin/loader.css" />
<!-- Include the above in your HEAD tag -->
<style>
body { 
  background: url(/img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 1.0;
margin-top:30px;
}

.form-group.last { margin-bottom:0px; }

</style>



</head>

<body>

    <div id='loader'>
      <div class="spinner"></div>
    </div>

    <script>
       window.addEventListener('load', () => {
        const loader = document.getElementById('loader');
        setTimeout(() => {
          loader.classList.add('fadeOut');
        }, 200);
      });
    </script>
    

<div class="container-fluid">
    <div class="row">
        <!--  <div class="col-md-4 col-md-offset-7">-->
        <!--<div class="main-box col-md-8 col-md-offset-2">-->
        	<div style="float:left; margin-top:30px;" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        		<div class="logo">
        			<img class="img-responsive" src="/img/logo.png"/>
        		</div>
        		<div class="admin_text">
        			<h2 th:text="#{console}"></h2>
        		</div>
        	</div>
        	<div style="float:right;" class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading" th:text="#{login}">
                    <span class="glyphicon glyphicon-lock"></span></div>
                <div class="alert alert-danger" style="margin-top:10px;margin-left:10px;margin-right:10px;">
				</div>
                <div class="panel-body">
                <form id="submitForm" class="form-horizontal logon-form">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-4 control-label" th:text="#{label.generic.username}">
                            </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="userName" id="userName" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label" th:text="#{password}">
                            </label>
                        <div class="col-sm-8">
                            <input type="password" class="form-control" name="password" id="password" placeholder="" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    <input id="remember" type="checkbox" th:text="#{rememberme}"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="button" class="btn btn-default btn-sm btn-login" th:text="#{button.login}">
                                </button>
                        </div>
                    </div>
                </form>
                </div>
                <div class="panel-footer">
                    <!--Not Registred? <a href="http://www.jquery2dotnet.com">Register here</a>-->
                 </div>
            </div>
        	</div>
        <!--</div>-->
    </div>
</div>
</body>
<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"></script>
<script>
$(document).ready(function(){
	
	//hide logon error message
	$('.alert-danger').hide();

	setUserNameCookie($('#userName').val());
	lang = getLang();
	//log('language ' + lang);
	
    $(".btn-login").click(function(){
    	
    	showLoader();
    	saveUserNameCookie();
    	
    	$('.alert-danger').hide();
    	
     	var array = '{"userName":"' + $("#userName").val()+ '","password":"' + $("#password").val()+ '"}';
		var dashBoardUrl = "/admin/dashboard";
		if (typeof lang === "undefined") {
			dashBoardUrl = dashBoardUrl + '?lang=' + lang;
		}
    	$.ajax({
    	    type:"post",
    	    contentType : 'application/json; charset=utf-8',
    	    data:array,
    	    url:"/login/process",
    	    dataType: "json",
    	    success: function(){
    	       hideLoader();
    	       window.location.replace(dashBoardUrl);
    	    },
    	    error: function(response,textStatus,errorThrown) { 
    	    	hideLoader();
    	    	log(textStatus);
    	        log(response);
    	    	var r = jQuery.parseJSON(response.responseText);
    	    	log(r.message + "-" + textStatus + "-" + errorThrown);
    	    	$('.alert-danger').html(r.message);
    	    	$('.alert-danger').show();
    	    }
    	});
    	
        
    });
    
    function getLang() {
    	return $.cookie('lang');
    }
    
    function setUserNameCookie(username) {
	    	var username = $.cookie('usernamecookie');
	    	if (username != null && username != '') {
	    		$('#userName').val(username);
	    		$('#remember').attr('checked', true);
	    	}
    }
    
    //saves username in cookie when checkbox clicked
    function saveUserNameCookie() {
        if($("#remember").is(':checked')){
    		$.cookie('usernamecookie',$('#userName').val());
    	} else {
    		$.cookie("usernamecookie", null, { path: '/' });
    	}
    }

});
</script>
</html>
