<!DOCTYPE html>
<html>
  <head>
    
    
  <meta charset="utf-8"> 
	
	

	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->	
	<meta name="description" content="Java open source shopping cart | E-commerce content management" />
	<meta name="keywords" content="Java open source shopping cart, java e-commerce, java shopping cart, responsive e-commerce, java open source, free Java shopping cart" />
	<meta name="author" content="Shopizer" />     
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
  <link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="stylesheets/layout.css" rel="stylesheet" type="text/css" media="all" />    
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->









	<script>

  	   	//var _gaq = _gaq || [];
  	   	//_gaq.push(['_setAccount', 'UA-4436714-6']);

  	   	//(function() {
    		//	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		//	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   		 	//var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	   	//})();


	</script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Shopizer documentation</title>
  </head>

  <body>
    <header>
    	
    	
    	<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<figure class="logo"><a href="/"><img src="http://www.shopizer.com/common/images/logo.png" alt=""></a></figure>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="dwnload">
						<img src="http://www.shopizer.com/common/images/github.png" width="38" style="margin-top:0px;">&nbsp;<a href="https://github.com/shopizer-ecommerce/shopizer" class="button1">DOWNLOAD</a>
					</div>
				</div>
			</div>
	</div>
    	
	
    </header>
   <div class="navBlock2">			
   		<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-default" role="navigation">
						  <div class="container-fluid">							
							<div class="navbar-header">
							  <button style="margin-top:8px;" type="button" class="navbar-toggle" data-toggle="collapse" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>							  
							</div>
							<div class="collapse navbar-collapse" ng-click="navCollapsed=true" ng-class="!navCollapsed &amp;&amp; 'in'" id="bs-example-navbar-collapse-1">
							        <ul class="nav navbar-nav"> 
									<li><a href="http://www.shopizer.com"><i class=""></i>Shopizer</a></li> 
      								</ul> 					  
							</div>
						  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>

<div class="container">

<div class="col-lg-12 clm1" style="padding-top:40px;">
	<h2 style="padding-bottom:10px;">
	Shopizer documentation	
	</h2>
	<hr class="half-margins">



</div>

<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
	

		<div id="context">
		



<!-- ****** WHAT IS SHOPIZER *******-->
<div name="WhatisShopizer" data-unique="WhatisShopizer"></div><h2>What is Shopizer</h2> 
<br>
<p class="lead">
Shopizer is an open source sales management software licenced under LGPL V2 licence.
</p>

Shopizer provides e-commerce functionalities such as
<br>
<br>
<ul>
<li>Product catalogue</li>
<li>Shopping cart</li>
<li>Order fulfillment</li>
<li>Content management</li>
<li>Payment management</li>
<li>Shipping management</li>
</ul>
<p></p>
<br>
The software can be used out of the box as a complete ready to use web application to host your web store or it can be used as a java, restful application and API kit to build your custom e-commerce store.

Shopizer does not require any Java skills, meaning that you can build a complete e-commerce solution and run it in this software without any coding.
The application can run on any Java servlet container or JEE application server such as <strong>Apache Tomcat</strong>, <strong>JBoss application server</strong>, <strong>Oracle application server</strong>, <strong>IBM Websphere application server</strong>, <strong>Jetty</strong> and many more !

<!--We provide professional services and support packages for any help required in customizing or enhancing this software to fit your needs.-->
<br><br>
Shopizer is writen in <strong>Java</strong> programming language and uses technologies such as:<br><br>

<ul>
<li><a href="http://www.spring.io">Spring MVC</a></li>
<li><a href="http://www.spring.io">Spring Core</a></li>
<li><a href="http://www.spring.io">Spring Security</a></li>
<li><a href="http://www.hibernate.org">Hibernate</a></li>
<li><a href="http://www.infinispan.org">JBoss Infinispan</a></li>
<li><a href="http://www.elasticsearch.org">Elasticsearch</a></li>
</ul> 
<p></p>

		
		
		


</div>
</div>

<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
	
		
	<p>
	
	<h4>Run Shopizer</h4>					
						
	<ul class="">
          <li class="article">
            <a href="/shopizer/articles/getting-started.html" class="">Getting started</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/software-requirements.html" class="">Software requirements</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/get-shopizer.html" class="">Get Shopizer</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/build-shopizer.html" class="">Build Shopizer</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/configure.html" class="">Configure Shopizer</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/run.html" class="">Run the application</a>
          </li>

        </ul>
        
        </p>
        
        <p>
        
        <h4>Software development</h4>
						
	</p>
	

        <p>
        
        <h4>Future releases</h4>
        <br/>
        <h5>Refactoring</h5>
	<ul class="">
          <li class="article">
            <a href="/shopizer/articles/upgrade-spring.html" class="">Spring upgrade</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/upgrade-elastic.html" class="">Elastic Search upgrade</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/remove-querydsl.html" class="">Remove Query DSL</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/remove-querydsl.html" class="">Cleanup sm-core unit tests</a>
          </li>
        </ul>
        <h5>New features</h5>
	<ul class="">
          <li class="article">
            <a href="/shopizer/articles/new-features.html" class="">Upcoming features</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/v3.html" class="">V3 ?</a>
          </li>
        </ul>
						
	</p>
</div>


</div>
  
  </body>
</html>
