<!DOCTYPE html>
<html>
  <head>
    
    
  <meta charset="utf-8"> 
	
	

	<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->	
	<meta name="description" content="Java open source shopping cart | E-commerce content management" />
	<meta name="keywords" content="Java open source shopping cart, java e-commerce, java shopping cart, responsive e-commerce, java open source, free Java shopping cart" />
	<meta name="author" content="Shopizer" />     
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="stylesheets/layout.css" rel="stylesheet" type="text/css" media="all" />
	<link href="stylesheets/technical.css" rel="stylesheet" type="text/css" media="all" />

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	
	<link href="stylesheets/docum.css" rel="stylesheet" type="text/css" />


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->





	<script>

  	   	//var _gaq = _gaq || [];
  	   	//_gaq.push(['_setAccount', 'UA-4436714-6']);

  	   	//(function() {
    		//	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		//	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   		 	//var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	   	//})();


	</script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Shopizer documentation</title>
  </head>

  <body>
    <header>
    	
    	
    	<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<figure class="logo"><a href="/"><img src="http://www.shopizer.com/common/images/logo.png" alt=""></a></figure>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="dwnload">
						<img src="http://www.shopizer.com/common/images/github.png" width="38" style="margin-top:0px;">&nbsp;<a href="https://github.com/shopizer-ecommerce/shopizer" class="button1">DOWNLOAD</a>
					</div>
				</div>
			</div>
	</div>
    	
	
    </header>
   <div class="navBlock2">			
   		<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="navbar navbar-default" role="navigation">
						  <div class="container-fluid">							
							<div class="navbar-header">
							  <button style="margin-top:8px;" type="button" class="navbar-toggle" data-toggle="collapse" ng-click="navCollapsed = !navCollapsed" ng-init="navCollapsed = true" data-target="#bs-example-navbar-collapse-1">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							  </button>							  
							</div>
							<div class="collapse navbar-collapse" ng-click="navCollapsed=true" ng-class="!navCollapsed &amp;&amp; 'in'" id="bs-example-navbar-collapse-1">
							        <ul class="nav navbar-nav"> 
									<li><a href="http://www.shopizer.com"><i class=""></i>Shopizer</a></li> 
      								</ul> 					  
							</div>
						  </div>
						</nav>
					</div>
				</div>
			</div>
		</div>

<div class="container">

<div class="col-lg-12 clm1" style="padding-top:20px;">
	<h2 style="padding-bottom:10px;">
	Shopizer documentation	
	</h2>
	<hr class="half-margins">
</div>



  <div class="col-sm-3">
    <div class="sidebar-nav">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav navbar-nav">
		    <li class="active"><a href="#" onClick="loadContent('http://shopizer-ecommerce.github.io/shopizer/articles/index.html')">Home</a></li>
            <li><a href="#" onClick="loadContent('http://shopizer-ecommerce.github.io/shopizer/articles/getting-started.html')">Getting started</a></li>
            <li><a href="#" onClick="loadContent('http://shopizer-ecommerce.github.io/shopizer/articles/software-requirements.html')">Software requirements</a></li>
			<li><a href="#" onClick="loadContent('http://shopizer-ecommerce.github.io/shopizer/articles/get-shopizer.html')">Get Shopizer</a></li>
			<li><a href="#" onClick="loadContent('http://shopizer-ecommerce.github.io/shopizer/articles/build-shopizer.html')">Build Shopizer</a></li>
			<li><a href="#" onClick="loadContent('http://shopizer-ecommerce.github.io/shopizer/articles/configuration.html')">Configure Shopizer</a></li>
			<!--
			<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shopizer entity <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">References</a></li>
                <li><a href="#">Merchant</a></li>
                <li><a href="#">Product</a></li>
				<!--
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
				-->
				<!--
                <li><a href="#">Category</a></li>
                <li><a href="#">Customer</a></li>
				<li><a href="#">Order</a></li>
              </ul>
            </li>
			-->
			<!--
            <li><a href="#">Menu Item 4</a></li>
            <li><a href="#">Reviews <span class="badge">1,118</span></a></li>
			-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>



<!--
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
	
	
	


		
	<p>
	
	<h4>Run Shopizer</h4>					
						
	<ul class="">
          <li class="article">
            <a href="/shopizer/articles/getting-started.html" class="">Getting started</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/software-requirements.html" class="">Software requirements</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/get-shopizer.html" class="">Get Shopizer</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/build-shopizer.html" class="">Build Shopizer</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/configure.html" class="">Configure Shopizer</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/run.html" class="">Run the application</a>
          </li>

        </ul>
        
        </p>
        
        <p>
        
        <h4>Software development</h4>
						
	</p>
	

        <p>
        
        <h4>Future releases</h4>
        <br/>
        <h5>Refactoring</h5>
	<ul class="">
          <li class="article">
            <a href="/shopizer/articles/upgrade-spring.html" class="">Spring upgrade</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/upgrade-elastic.html" class="">Elastic Search upgrade</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/remove-querydsl.html" class="">Remove Query DSL</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/unit-tests.html" class="">Cleanup sm-core unit tests</a>
          </li>
        </ul>
        <br/>
        <h5>New features</h5>
	<ul class="">
          <li class="article">
            <a href="/shopizer/articles/new-features.html" class="">Upcoming features</a>
          </li>
          <li class="article">
            <a href="/shopizer/articles/v3.html" class="">Version 2.5.0</a>
          </li>
        </ul>
						
	</p>
</div>
-->

<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
	

	<div id="content">

	</div>
	
</div>




</div>


   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
   <script src="javascripts/bootstrap-min.js"></script>
   


<script>
$(document).ready( function() {
     $("#content").load("http://shopizer-ecommerce.github.io/shopizer/articles/index.html");
});

function loadContent(src) {
	 $("#content").load(src);
}

</script>

   
   
  
  </body>
</html>
