<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"	
  	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: head"></head>

<body class="hold-transition skin-blue-light sidebar-mini">

    <div id="loader">
      <div class="spinner"></div>
    </div>

    <script>
	      //spinner
	      window.addEventListener('load', () => {
	        const loader = document.getElementById('loader');
	        setTimeout(() => {
	          loader.classList.add('fadeOut');
	        }, 300);
	      });
    </script>


<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section layout:fragment="breadcrumb"></section>

    <!-- Main content -->
    <section class="content">

      <!-- Main row -->
      <div class="row" layout:fragment="page_content">
        
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>
<!-- ./wrapper -->

<span th:replace="fragments/scripts:: scripts"></span>
<th:block layout:fragment="script"></th:block>
</body>
</html>
