<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.user'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-address-card"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.user'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content">

    <th:block th:include="fragments/messages.html :: messages"></th:block>
    <div class="row">
	
	<div class="col-md-9">
    <!-- end messages -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">
				<span th:text="#{'menu.profile'}"></span>
			</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">

					<form role="form" id="user" data-parsley-validate="">
						<div class="box-body">
							<div class="form-group">
								<label for="firstName"><span
									th:text="#{'label.generic.firstname'}"></span> *</label> <input
									class="form-control" id="firstName" name="firstName" required="">
							</div>
							<!--<th:block th:include="fragments/code.html :: code"></th:block>-->
							<div class="form-group">
								<label for="lastName"><span th:text="#{'label.generic.lastname'}"></span> *</label>
								<input class="form-control" id="lastName" name="lastName" required="" data-mask>
							</div>
							<div class="form-group">
								<label for="userName"><span th:text="#{'label.generic.username'}"></span> *</label>
								<input class="form-control" id="userName" name="userName" required="" data-mask>
							</div>
							<div class="form-group">
								<label for="emailAddress"><span
									th:text="#{'label.generic.email'}"></span> *</label> <input
									type="email" class="form-control" id="emailAddress" name="emailAddress" data-parsley-trigger="change" required="">
							</div>

							<div class="checkbox">
								<label> <input type="checkbox" class="checkTrueFalse" name="active" id="active"><span
									th:text="#{'label.entity.active'}"></span>
								</label>
							</div>
							
							

				            <th:block th:include="fragments/default-language.html :: default-language"></th:block>
							<th:block th:include="fragments/groups.html :: groups"></th:block>

							
							<input type="hidden" id="action" th:value="${action}"/>

						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								<span th:text="#{'button.label.submit'}"></span>
							</button>
							<button th:if="${code} != 'DEFAULT'" id="delete" type="button" class="btn btn-danger pull-right"><span th:text="#{'label.generic.remove'}"></span></button>
						</div>
					</form>
				</div><!-- /.box -->
			  </div>
			</div><!--  /.col -->
				
			<div class="col-md-3">
						 <span th:replace="fragments/sideMenu.html
      						:: sideMenu(title=#{'label.profile.title'}, name='TODO', menu='user', codeParam=${user})">
   			 			</span>
			</div>
				
				
			</div>

	</div><!-- end row -->


</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">
	<!-- address component -->
	<script src="/js/address.js"></script>
	<script src="/js/languages.js"></script>
	<script src="/js/groups.js"></script>
	<!-- Unique code detection -->
	<script src="/js/uniqueCode.js"></script>
	
	<script type="text/javascript">
		$(function () {
		  $('#user').parsley().on('field:validated', function(fieldInstance) {
		    var ok = $('.parsley-error').length === 0;
		    $('.callout-warning').toggleClass('hidden', ok);
		    if (fieldInstance.$element.is(":disabled")) {
		    	$('.callout-warning').hide();
		        fieldInstance._ui.$errorsWrapper.css('display', 'none');
		        // set validation result to true
		        fieldInstance.validationResult = true;
		        return true;
		    }
		  })
		  //.on('form:submit', function() {
		    //return false; // Don't submit form for this demo
		  //});
		});
	</script>
	
	
	<script type="text/javascript">
      $(document).ready(function(){
    	  	
    	    resetMessages();
    	  	
    	  	log('Before delete hide');
    	  	
    	  	//hide delete button
    	  	$('#delete').hide()

  	    	//Date picker
	  	    //$('#inBusinessSince').datepicker({
	  	    //  autoclose: true
	  	    //})
    	  
    	    //if($("#action").val()=='READ') {
    	    	log('Before delete show');
    	    	
    	    	$('#delete').show();

	    		showLoader();
	    		var store = STORECODE;
	    		if('[[${code}]]'!='') {
	    			store = '[[${code}]]';
	    		}
				//fetch store
	      		var url = BACKEND + "/private/users/" + USERNAME;

		    	$.ajax({
		    	    type:"get",
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    dataType: "json",
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	       hideLoader();	
		    	       log(JSON.stringify(data));
		    	       $("#firstName").val(data.firstName);
		    	       $("#lastName").val(data.lastName);
		    	       $("#userName").val(data.userName);
		    	       $("#emailAddress").val(data.emailAddress);
		    	       $("#active").val(data.active);
		    	       var groups = data.groups;
				       //for (var i=0; i<permissions.length; i++) {
				       // 	 $('<div class="checkbox"><label><input type="checkbox" name="groups[]" id="groups" required value="' + groups[i].name + '">' + groups[i].name + '</label></div>').appendTo('#groups'); 
				       //}


		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	//TODO if 403 or 401 redirect to not authorized page
		    	    	log('Fail ' + response);
		    	    	log(JSON.stringify(response));
		    	    	error(JSON.stringify(response.message));
		    	    	hideLoader();
		    	    }
		    	});
    	    //}
  	    	
	  	    //handle submit
  	    	$("#user").submit(function(event){
  	    		showLoader();
				event.preventDefault(); //prevent default action 
				resetMessages();
				adjustCheckBoxes($(".checkTrueFalse"));
				
				var form_data = $(this).serializeJSON(); //Encode form elements for submission
				
				//add code again in case field is disabled
				form_data.code=$('#code').val();

				//log(form_data);
				
				//create url
				var url = BACKEND + "/private/store";
				var type ='POST';
				
				if($("#action").val()=='READ') {
					url = BACKEND + "/private/store/" + $("#code").val();
					type ='PUT';
				}

		    	 $.ajax({
		    	    type:type,
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    dataType: "json",
		    	    contentType : 'application/json; charset=utf-8',
		    	    data:JSON.stringify(form_data),
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	    	$("#action").val('READ');
		    	    	$("#code").prop("disabled", true);
		    	    	$('#delete').show();
		    	    	//set menu name
		    	    	$('#menuEntityName').html($("#code").val());
		    	    	//change url parameter
		    	    	changeMenuUrlParam('.menuEntityUrl','code',$("#code").val());
		    	    	success('');
		    	    	hideLoader();
		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	log(JSON.stringify(response.message));
		    	    	error(response.message);
		    	    	error(JSON.stringify(response.message));
		    	    	hideLoader();
		    	    }
		    	});
 
			});
	  	    
  	    	$("#delete").click(function(event){
  	    		
  	    		//log('Deleting');
  	    		
  	    		showLoader();
				event.preventDefault(); //prevent default action 
				resetMessages();


				//create url
				url = BACKEND + "/private/store/" + $("#code").val();
				var type ='DELETE';
				

		    	 $.ajax({
		    	    type:type,
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    contentType : 'application/json; charset=utf-8',
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	    	success('[[#{label.store.title}]] [' + $("#code").val() + '] [[#{label.generic.deleted}]]');
		    	    	hideLoader();
		    	    	//reset form
		    	    	$('#store').trigger("reset");
		    	    	//becomes creat mode
		    	    	$("#action").val('CREATE');
		    	    	$("#code").prop("disabled", false);
		    	    	
		    	    	$('#menuEntityName').html('');
		    	    	//change url parameter
		    	    	changeMenuUrlParam('.menuEntityUrl','code','');
		    	    	
		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	error(JSON.stringify(response.message));
		    	    	hideLoader();
		    	    }
		    	 });
  	    		
  	    	});

      		//handle country change
    	    $('#country').on('change', function() {
    	    	  zones( this.value, null );
    	    	  maskPhone(this.value, $("#phone"));
    	    });

      		
      });
     
	  languages();
      groups();//load address component
      
	  //used by generic code component
      $("#codeTitle").html('[[#{label.storecode}]]');


      function adjustCheckBoxes($input) {
	    		if($input.is(':checked')) {
	              	$input.attr('value', 'true');
	          	 } else {
	          		$input.attr('value', 'false');
	          	 }
	   }
      
      </script>

    <!-- required for address component -->
	<script th:if="${addressApiKey!=null}"
		th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + addressApiKey + '&libraries=places&callback=initAutocomplete'}}"
		async defer>
	</script>

</th:block>