<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.user'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-address-card"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.user'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content">

    <th:block th:include="fragments/messages.html :: messages"></th:block>
    <div class="row">
	
	<div class="col-md-9">
    <!-- end messages -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">
				<span th:text="#{'menu.profile'}"></span>
			</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">

					<form role="form" id="user" data-parsley-validate="">
						<div class="box-body">
							<div class="form-group">
								<label for="firstName"><span
									th:text="#{'label.generic.firstname'}"></span> *</label> <input
									class="form-control" id="firstName" name="firstName" required="">
							</div>
							<!--<th:block th:include="fragments/code.html :: code"></th:block>-->
							<div class="form-group">
								<label for="lastName"><span th:text="#{'label.generic.lastname'}"></span> *</label>
								<input class="form-control" id="lastName" name="lastName" required="" data-mask>
							</div>
							<div class="form-group">
								<label for="userName"><span th:text="#{'label.generic.username'}"></span> *</label>
								<input class="form-control" id="userName" name="userName" required="" data-mask readonly>
							</div>
							<div class="form-group">
								<label for="emailAddress"><span
									th:text="#{'label.generic.email'}"></span> *</label> <input
									type="email" class="form-control" id="emailAddress" name="emailAddress" data-parsley-trigger="change" required="">
							</div>

							<div class="checkbox">
								<label> <input type="checkbox" class="checkTrueFalse" name="active" id="active"><span
									th:text="#{'label.entity.active'}"></span>
								</label>
							</div>
							
							<span th:if="${#request.isUserInRole('ROLE_SUPERADMIN')}">
								Yes i am a superadmin !
							</span>

				            <th:block th:include="fragments/default-language.html :: default-language"></th:block>
							<th:block th:include="fragments/groups.html :: groups"></th:block>

							
							<input type="hidden" id="action" th:value="${action}"/>

						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								<span th:text="#{'button.label.submit'}"></span>
							</button>
							<button th:if="${code} != 'DEFAULT'" id="delete" type="button" class="btn btn-danger pull-right"><span th:text="#{'label.generic.remove'}"></span></button>
						</div>
					</form>
				</div><!-- /.box -->
			  </div>
			</div><!--  /.col -->
				
			<div class="col-md-3">
						 <span th:replace="fragments/sideMenu.html
      						:: sideMenu(title=#{'label.profile.title'}, name='TODO', menu='user', codeParam=${user})">
   			 			</span>
			</div>
				
				
			</div>

	</div><!-- end row -->


</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">
	<script src="/js/groups.js"></script>
	<!-- Unique code detection -->
	<script src="/js/uniqueCode.js"></script>
	

	<script type="text/javascript">
      $(document).ready(function(){
    	  
    	  		languages();
          		groups();//load groups component
    	  	
    	    	resetMessages();

    	  		$('#delete').hide();
    	  		var store = STORECODE;
    			if('[[${code}]]'!='') {
    				store = '[[${code}]]';
    			}
				showLoader();
				//TODO if create 
    	        if($("#action").val()=='READ') {
    	    		$('#delete').show();

					//fetch user
	      			var url = BACKEND + "/private/" + store + "/users/" + USERNAME;

			    	$.ajax({
			    	    type:"get",
			    	    crossDomain: true,
			    	    cache: false,
			    	    url: url,
			    	    dataType: "json",
			    	    headers: {
			    	        "Authorization": "Bearer " + TOKEN
			    	    },
			    	    success: function(data){
			    	       hideLoader();	
			    	       log(JSON.stringify(data));
			    	       $("#firstName").val(data.firstName);
			    	       $("#lastName").val(data.lastName);
			    	       $("#userName").val(data.userName);
			    	       $("#emailAddress").val(data.emailAddress);
			    	       if(data.active) {
			    	    	   $("input[name='active'][type='checkbox']").prop("checked", true);
			    	       }
			    	       
			    	       for (var i=0; i<data.groups.length; i++) {
			    	    	    log('Group ' + data.groups[i].name);
			    	       	    $("input[value='" + data.groups[i].name + "'][type='checkbox']").prop("checked", true);
			    	       }
			    	       //$("#userName").prop("disabled", true);
	
			    	    },
			    	    error: function(response,textStatus,errorThrown) {
			    	    	//TODO if 403 or 401 redirect to not authorized page
			    	    	log(JSON.stringify(response));
			    	    	error(JSON.stringify(response.message));
			    	    	hideLoader();
			    	    }
			    	});
    	        }
		  	    //handle submit
	  	    	$("#user").submit(function(event){
	  	    		showLoader();
					event.preventDefault(); //prevent default action 
					resetMessages();
					adjustCheckBoxes($(".checkTrueFalse"));
					
					var form_data = $(this).serializeJSON(); //Encode form elements for submission
					
					log(form_data);
					
					//create url
					var type ='POST';
					var url = BACKEND + "/private/" + store + "/user/";
					if($("#action").val()=='READ') {
						url = BACKEND + "/private/" + store + "/user/" + $('#userName').val();
						type ='PUT';
					}

			    	$.ajax({
			    	    type:type,
			    	    crossDomain: true,
			    	    cache: false,
			    	    url: url,
			    	    dataType: "json",
			    	    contentType : 'application/json; charset=utf-8',
			    	    data:JSON.stringify(form_data),
			    	    headers: {
			    	        "Authorization": "Bearer " + TOKEN
			    	    },
			    	    success: function(data){
			    	    	$("#action").val('READ');
			    	    	//$("#userName").prop("disabled", true);
			    	    	$('#delete').show();
			    	    	//change url parameter
			    	    	changeMenuUrlParam('.menuEntityUrl','code',$("#userName").val());
			    	    	//refresh user token
			    	    	refresh();
			    	    	success('');
			    	    	hideLoader();
			    	    },
			    	    error: function(response,textStatus,errorThrown) {
			    	    	log(JSON.stringify(response.message));
			    	    	error(response.message);
			    	    	error(JSON.stringify(response.message));
			    	    	hideLoader();
			    	    }
			    	});
		    	
			    	
				});
	  	    
  	    	$("#delete").click(function(event){
  	    		
  	    		//log('Deleting');
  	    		
  	    		showLoader();
				event.preventDefault(); //prevent default action 
				resetMessages();


				//create url
				url = BACKEND + "/private/store/" + $("#code").val();
				var type ='DELETE';
				

		    	 $.ajax({
		    	    type:type,
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    contentType : 'application/json; charset=utf-8',
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	    	success('[[#{label.store.title}]] [' + $("#code").val() + '] [[#{label.generic.deleted}]]');
		    	    	hideLoader();
		    	    	//reset form
		    	    	$('#store').trigger("reset");
		    	    	//becomes creat mode
		    	    	$("#action").val('CREATE');
		    	    	//$("#code").prop("disabled", false);
		    	    	
		    	    	$('#menuEntityName').html('');
		    	    	//change url parameter
		    	    	changeMenuUrlParam('.menuEntityUrl','code','');
		    	    	
		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	error(JSON.stringify(response.message));
		    	    	hideLoader();
		    	    }
		    	 });
  	    		
  	    	});

      		
      });
      
      function refresh() {
    	  
	    	url = "/admin/refresh";
	    	log(url);
			log(TOKEN);	    	
	    	$.ajax({
	    	    type:'GET',
	    	    crossDomain: true,
	    	    cache: false,
	    	    url: url,
	    	    contentType : 'application/json; charset=utf-8',
	    	    success: function(data){

	    	    	TOKEN = data;
	    	    },
	    	    error: function(response,textStatus,errorThrown) {
	    	    	log(JSON.stringify(response.message));
	    	    	error(response.message);
	    	    	error(JSON.stringify(response.message));
	    	    	hideLoader();
	    	    }
	    	});
    	  
      }

      function adjustCheckBoxes($input) {
	    		if($input.is(':checked')) {
	              	$input.attr('value', 'true');
	          	 } else {
	          		$input.attr('value', 'false');
	          	 }
	   }
      
      </script>

    <!-- required for address component -->
	<script th:if="${addressApiKey!=null}"
		th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + addressApiKey + '&libraries=places&callback=initAutocomplete'}}"
		async defer>
	</script>

</th:block>