.DS_Store
sm-core-model/.classpath
sm-core-model/.settings/org.eclipse.jdt.core.prefs
sm-shop/.classpath
sm-shop/SALESMANAGER.lock.db
sm-shop/SALESMANAGER.trace.db
/target/
SALESMANAGER.h2.db
/src/main/resources/database.properties
.classpath
