<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.store'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.store'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content">


    <th:block th:include="fragments/messages.html :: messages"></th:block>
    <div class="row">
	
	<div class="col-md-9">
    <!-- end messages -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">
				<span th:text="#{'label.store.information'}"></span>
			</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">

					<p>
					<i class="fa fa-building"></i> <span th:text="#{'label.store.metadata'}"></span>
					</p>

					<form role="form" id="store" data-parsley-validate="">
						<div class="box-body">
							<div class="form-group">
								<label for="storeName"><span
									th:text="#{'label.storename'}"></span> *</label> <input
									class="form-control" id="name" name="name" required="">
							</div>
						 </div>
						 
						  <div class="summernote"><p>Hello World</p></div>

						 
						 
							
					</form>
				</div><!-- /.box -->
			  </div>
			</div><!--  /.col -->
				
			<div class="col-md-3">
						 <span th:replace="fragments/sideMenu.html
      						:: sideMenu(title=#{'label.store.title'}, name=${code}, menu='store', codeParam=${code})">
   			 			</span>
			</div>
				
				
			</div>
		</div>

	</div><!-- end row -->


</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">
	<!-- address component -->
	<script src="/js/admin/summernote-bs4.min.js"></script>

	
	<script type="text/javascript">
    $(document).ready(function() {

        $('.summernote').summernote({
          height: 300,
          tabsize: 2,
          followingToolbar: true,
        });
      });
	</script>
	

</th:block>