<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.store'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.store'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content">

    <th:block th:include="fragments/messages.html :: messages"></th:block>
    
    <!-- end messages -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">
				<span th:text="#{'label.store.information'}"></span>
			</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">

					<p>
						<table class="table table-bordered" id="storeListTable">
		                    <thead>
		                           <th><span th:text="#{'label.entity.id'}"></span></th>
		                           <th><span th:text="#{'label.entity.code'}"></span></th>
		                           <th><span th:text="#{'label.entity.name'}"></span></th>
		                           <th><span th:text="#{'label.generic.createdBy'}"></span></th>
		                    </thead>
		                    <tfoot>
						        <tr>
						           <th><span th:text="#{'label.entity.id'}"></span></th>
						           <th><span th:text="#{'label.entity.code'}"></span></th>
						           <th><span th:text="#{'label.entity.name'}"></span></th>
						           <th><span th:text="#{'label.generic.createdBy'}"></span></th>
						        </tr>
						   </tfoot>				
		               </table>
					</p>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.box-body -->
		<!-- 		
			<div class="box-footer">
			footer text if required
		</div> 
		-->
	</div>


</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">

	<script type="text/javascript">

	$(document).ready(function () {

		//showLoader();
		var url = BACKEND + "/private/stores";
	
		var dataTable =  $('#storeListTable').DataTable( {
			columnDefs: [{
				    "defaultContent": "-",
				    "targets": "_all"
			}],
			processing:true,
			serverSide: true,
			searchDelay: 2000,
			ajax: {
				"url": url,
				"type": "GET",
				"headers": {
		    	      "Authorization": "Bearer " + TOKEN
		    	 }
			 },
			 "columns": [
				 { "data": "id" },
				 { "data": "code",
				   "render": function ( data, type, row, meta ) {
					     return '<a href="/admin/store?code=' + data + '">' + data + '</a>';
					}
				 },
				 { "data": "name" },
				 { "data": "readableAudit.user" }
			]
					
		});
		
		
		dataTable.on( 'search.dt', function (event) {
			//log('search');

		    //$('#filterInfo').html( 'Currently applied global search: '+table.search() );
		} );
	
		//datatable pagination
		
		
		//datatable search
		// this function is used to intialize the event handlers
		//function onint(){
		     // take off all events from the searchfield
		     //$("#storeListTable_filter input[type='search']").off();
		      //$('.dataTables_filter input').unbind('keypress keyup');
		     // Use return key to trigger search
		     //$("#storeListTable_filter input[type='search']").on("keydown", function(evt){
		    //	  log('Searching');
		    //      if(evt.keyCode == 13){
		    //    	log('Searching searching');
		    //        $("#storeListTable").DataTable().search($("input[type='search']").val()).draw();
		    //      }
		    // });
		    // $("#storeListTable_filter").button().on("click", function(){
		    //       $("#storeListTable").DataTable().search($("input[type='search']").val()).draw();

		     //});
		//}
	
	});
	
	</script>
	
<script
	th:src="@{|/webjars/datatables/1.10.19/js/jquery.dataTables.min.js|}">
</script>
<script
	th:src="@{|/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js|}">
</script>	

</th:block>