<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.store'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.store'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content">

    <th:block th:include="fragments/messages.html :: messages"></th:block>
    
    <!-- end messages -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">
				<span th:text="#{'label.store.information'}"></span>
			</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
				
					<p>
					<i class="fa fa-building"></i> <span th:text="#{'label.store.metadata'}"></span>
					</p>

					<p>
						<table class="table table-bordered" id="storeListTable">
		                    <thead>
		                           <th>Code</th>
		                           <th>Name</th>
		                    </thead>
		                    <tfoot>
						        <tr>
						           <th>Code</th>
						           <th>Name</th>
						        </tr>
						   </tfoot>				
		               </table>
					</p>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.box-body -->
		<!-- 		
			<div class="box-footer">
			footer text if required
		</div> 
		-->
	</div>


</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">

	<script type="text/javascript">

	$(document).ready(function () {
		
		//showLoader();
		var url = BACKEND + "/private/stores";
	
		var dataTable =  $('#storeListTable').DataTable( {
			
			processing:true,
			serverSide: true,
			ajax: {
				"url": url,
				"type": "GET",
				"dataSrc":"data",
				"headers": {
		    	      "Authorization": "Bearer " + TOKEN
		    	 },
		    	 "columns": [
			         {"data":"code"},
			         {"data":"name"}
			     ]
			 }
					
		});
	
		//datatable pagination
		
		
		//datatable search
	
	});
	
	</script>
	
<script
	th:src="@{|/webjars/datatables/1.10.19/js/jquery.dataTables.min.js|}">
</script>
<script
	th:src="@{|/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js|}">
</script>	

</th:block>