<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.store'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.store'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content"> <th:block
		th:include="fragments/messages.html :: messages"></th:block>

	<div class="row">

		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">
						<span th:text="#{'label.marketing.social'}"></span>
					</h3>
				</div>
				<div class="box-body">
<!-- 					<form id="logoUpload" action="/file-upload" class="dropzone">
					  <div class="fallback">
					    <input name="file" type="file"/>
					  </div>
					</form> -->
				<!--teste dropzone com preview-->

                    <!-- Uploader Dropzone -->
                    <form action="upload.php" id="zdrop" class="fileuploader center-align">
                      <div id="upload-label" style="width: 200px;">
                        <i class="material-icons">cloud_upload</i>
                      </div>
                      <span class="tittle">Click the Button or Drop Files Here</span>
                    </form>

                    <!-- Preview collection of uploaded documents -->
                    <div class="preview-container">
                      <div class="collection card" id="previews">
                        <div class="collection-item clearhack valign-wrapper item-template" id="zdrop-template">
                          <div class="left pv zdrop-info" data-dz-thumbnail>
                            <div>
                              <span data-dz-name></span> <span data-dz-size></span>
                            </div>
                            <div class="progress">
                              <div class="determinate" style="width:0" data-dz-uploadprogress></div>
                            </div>
                            <div class="dz-error-message"><span data-dz-errormessage></span></div>
                          </div>

                          <div class="secondary-content actions">
                            <a href="#!" data-dz-remove class="btn-floating ph red white-text waves-effect waves-light"><i class="material-icons white-text">clear</i></a>
                          </div>
                        </div>
                      </div>
                    </div>

	   </div>
</div>
</div>
		<!-- /.box -->

	<div class="col-md-6">
		<div class="box box-primary">
			<div class="box-header">
				<h3 class="box-title">
					<span th:text="#{'label.marketing.social'}"></span>
				</h3>
			</div>
			<div class="box-body">
				<!-- Date -->
				<div class="form-group">
					<label>Date:</label>

					<div class="input-group date">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right" id="datepicker">
					</div>
					<!-- /.input group -->
				</div>
				<!-- /.form group -->

				<!-- Date range -->
				<div class="form-group">
					<label>Date range:</label>

					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-calendar"></i>
						</div>
						<input type="text" class="form-control pull-right"
							id="reservation">
					</div>
					<!-- /.input group -->
				</div>
				<!-- /.form group -->

				<!-- Date and time range -->
				<div class="form-group">
					<label>Date and time range:</label>

					<div class="input-group">
						<div class="input-group-addon">
							<i class="fa fa-clock-o"></i>
						</div>
						<input type="text" class="form-control pull-right"
							id="reservationtime">
					</div>
					<!-- /.input group -->
				</div>
				<!-- /.form group -->

				<!-- Date and time range -->
				<div class="form-group">
					<label>Date range button:</label>

					<div class="input-group">
						<button type="button" class="btn btn-default pull-right"
							id="daterange-btn">
							<span> <i class="fa fa-calendar"></i> Date range picker
							</span> <i class="fa fa-caret-down"></i>
						</button>
					</div>
				</div>
				<!-- /.form group -->

			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->

	</div> <!-- /.col (right) -->
	</div> <!-- /.row -->





</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">

	<script>
	//$(document).ready(function(){
		//Dropzone.options.logoUpload = {
		//		  paramName: "file", // The name that will be used to transfer the file
		//		  maxFilesize: 1, // MB
		//		  accept: function(file, done) {
		//			log('Filename ' + file.name);
		//			done();
				    //if (file.name == "justinbieber.jpg") {
				    //  done("Naha, you don't.");
				    //}
				    //else { done(); }
		//		  }
		//};
		 //Dropzone.prototype.defaultOptions.init = function () {

         //        this.hiddenFileInput.removeAttribute('multiple');
         //        this.on("maxfilesexceeded", function (file) {
         //            this.removeAllFiles();
         //            this.addFile(file);
         //        });
         //    };
		Dropzone.prototype.defaultOptions.dictDefaultMessage = "Test 123";
		Dropzone.prototype.defaultOptions.dictFallbackMessage = "Your browser does not support drag'n'drop file uploads.";
		Dropzone.prototype.defaultOptions.dictFallbackText = "Please use the fallback form below to upload your files like in the olden days.";
		Dropzone.prototype.defaultOptions.dictFileTooBig = "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.";
		Dropzone.prototype.defaultOptions.dictInvalidFileType = "You can't upload files of this type.";
		Dropzone.prototype.defaultOptions.dictResponseError = "Server responded with {{statusCode}} code.";
		Dropzone.prototype.defaultOptions.dictCancelUpload = "Cancel upload";
		Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "Are you sure you want to cancel this upload?";
		Dropzone.prototype.defaultOptions.dictRemoveFile = "Remove file";
		Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "You can not upload any more files.";
		
		
		
		$(document).ready(function(){

			initFileUploader("#zdrop");
				function initFileUploader(target) {
					var previewNode = document.querySelector("#zdrop-template");
					previewNode.id = "";
					var previewTemplate = previewNode.parentNode.innerHTML;
					previewNode.parentNode.removeChild(previewNode);


					var zdrop = new Dropzone(target, {
						url: 'upload.php',
		                maxFiles:1,
						maxFilesize:30,
						previewTemplate: previewTemplate,
						previewsContainer: "#previews",
						clickable: "#upload-label"
					});

					zdrop.on("addedfile", function(file) { 
						$('.preview-container').css('visibility', 'visible');
					});

					zdrop.on("totaluploadprogress", function (progress) {
						var progr = document.querySelector(".progress .determinate");
							if (progr === undefined || progr === null)
									return;

								progr.style.width = progress + "%";
							});

							zdrop.on('dragenter', function () {
								$('.fileuploader').addClass("active");
							});

							zdrop.on('dragleave', function () {
								$('.fileuploader').removeClass("active");			
							});

							zdrop.on('drop', function () {
								$('.fileuploader').removeClass("active");	
							});
							
				  }

			});
		
		
		
		
		
	//});

	</script>

</th:block>