<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.store'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.store'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content"> <th:block
		th:include="fragments/messages.html :: messages"></th:block>

	<div class="row">

		<div class="col-md-9">
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">
						<span th:text="#{'label.storelogo'}"></span>
					</h3>
				</div>
				<div id="logo-box" class="box-body">

					<!-- 
									If an image is present, show image
									 -->



					<!-- 
									If no image present show upload
									 -->

					<div id="dropzone" class="">
						<form class="dropzone needsclick" id="logo-upload"
							action="/upload">
							<div id="upload-label">
								<i class="fa fa-cloud-upload"></i>
							</div>
							<div class="" style="width: 100%; text-align: center;">
								<span class="title" th:text="#{'message.upload.image'}"></span>
							</div>

						</form>
					</div>

				</div>

			</div>
			<!-- box -->
			<div class="box box-primary">
				<div class="box-header">
					<h3 class="box-title">
						<span th:text="#{'label.marketing.social'}"></span>
					</h3>
				</div>
				<div class="box-body">
					<!-- Date -->
					<div class="form-group">
							<!-- Social networks -->
							<div class="checkbox">
								<label> 
									<input class="checkTrueFalse" type="checkbox" name="facebook_page_url" id="facebook_page_url"><i class="fa fa-facebook-square"></i><span
									th:text="#{'label.configuration.facebook_page_url'}"></span>
								</label>
								<input class="form-control" id="facebook_page_url_value" name="facebook_page_url_value_" >
								<input type="hidden" class="form-control" id="facebook_page_url_id" name="facebook_page_url_id" >
							</div>
							<div class="checkbox">
								<label> 
									<input class="checkTrueFalse" type="checkbox" name="instagram" id="instagram"><i class="fa fa-instagram"></i><span
									th:text="#{'label.configuration.instagram'}"></span>
								</label>
								<input class="form-control" id="instagram_value" name="instagram_value" >
								<input type="hidden" class="form-control" id="instagram_id" name="instagram_id" >
							</div>
							<div class="checkbox">
								<label> 
									<input class="checkTrueFalse" type="checkbox" name="pinterest" id="pinterest"><i class="fa fa-pinterest"></i><span
									th:text="#{'label.configuration.pinterest'}"></span>
								</label>
								<input class="form-control" id="pinterest_value" name="pinterest_value" >
								<input type="hidden" class="form-control" id="pinterest_id" name="pinterest_id" >
							</div>
							<div class="checkbox">
								<label> 
									<input class="checkTrueFalse" type="checkbox" name="twitter_handle" id="twitter_handle"><i class="fa fa-twitter-square"></i><span
									th:text="#{'label.configuration.twitter_handle'}"></span>
								</label>
								<input class="form-control" id="twitter_handle_value" name="twitter_handle_value" >
								<input type="hidden" class="form-control" id="twitter_handle_id" name="twitter_handle_id" >
							</div>

							<!-- /.box-body -->
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">
									<span th:text="#{'button.label.submit'}"></span>
								</button>
							</div>
					</div>
					<!-- /.form group -->
				</div>
				<!-- /.box-body -->
			</div>
			<!-- /.box -->
			
		</div>
		<!-- /.col -->

		
		<div class="col-md-3">
						 <span th:replace="fragments/sideMenu.html
      						:: sideMenu(title=#{'label.store.title'}, name=${code}, menu='store', codeParam=${code})">
   			 			</span>
		</div>

		<!-- /.col (right) -->
	</div> <!-- /.row -->






</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">

	<script>
		Dropzone.autoDiscover = false;

		Dropzone.prototype.defaultOptions.dictDefaultMessage = "";
		//Dropzone.prototype.defaultOptions.dictFallbackMessage = "Your browser does not support drag'n'drop file uploads.";
		//Dropzone.prototype.defaultOptions.dictFallbackText = "Please use the fallback form below to upload your files like in the olden days.";
		//Dropzone.prototype.defaultOptions.dictFileTooBig = "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.";
		//Dropzone.prototype.defaultOptions.dictInvalidFileType = "You can't upload files of this type.";
		//Dropzone.prototype.defaultOptions.dictResponseError = "Server responded with {{statusCode}} code.";
		//Dropzone.prototype.defaultOptions.dictCancelUpload = "Cancel upload";
		//Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "Are you sure you want to cancel this upload?";
		//Dropzone.prototype.defaultOptions.dictRemoveFile = "Remove file";
		//Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "You can not upload any more files.";

		var store = STORECODE;
		if ('[[${code}]]' != '') {
			store = '[[${code}]]';
		}
		
		$(document)
				.ready(
						function() {

							loadMarketing();

							var dropzone = new Dropzone(
									'#logo-upload',
									{
										//previewTemplate: document.querySelector('#preview-template').innerHTML,
										parallelUploads : 1,
										thumbnailHeight : 120,
										thumbnailWidth : 120,
										maxFilesize : 1,//TODO configure
										filesizeBase : 1000,
										thumbnail : function(file, dataUrl) {
											if (file.previewElement) {
												file.previewElement.classList
														.remove("dz-file-preview");
												var images = file.previewElement
														.querySelectorAll("[data-dz-thumbnail]");
												for (var i = 0; i < images.length; i++) {
													var thumbnailElement = images[i];
													thumbnailElement.alt = file.name;
													thumbnailElement.src = dataUrl;
												}
												setTimeout(
														function() {
															file.previewElement.classList
																	.add("dz-image-preview");
														}, 1);
											}
										}

							});

							dropzone.uploadFiles = function(files) {
								var self = this;

								for (var i = 0; i < files.length; i++) {

									var file = files[i];
									log('upload file ' + file.name);
									addImage(file, this);
								}
							}

							dropzone.on("queuecomplete", function () {
							    this.removeAllFiles();
							});
		});
		
		
		
		function loadMarketing() {
			showLoader();

			//fetch store
			var url = BACKEND + "/private/store/" + store
					+ '/marketing?lang=' + LANGUAGE;

			$.ajax({
				type : "get",
				crossDomain : true,
				cache : false,
				url : url,
				dataType : "json",
				headers : {
					"Authorization" : "Bearer " + TOKEN
				},
				success : function(data) {
					
					log('Success loading marketing ' + JSON.stringify(data));
					if(data.logo!=null) {
						imageTemplate(data.logo);
					}
					
					if (Array.isArray(data.socialNetworks) || data.socialNetworks.length > 0) {
						  // array does not exist, is not an array, or is empty
				          $.each(data.socialNetworks, function (i, data) {
				        	  if(data.value!=null) {
				        	  	$("input[name='"+data.key+"'][type='checkbox']").prop("checked", true);
				        	  	var keyValue = '#' + data.key+'_value';
				        	  	var idValue = '#' + data.key+'_id';
				        	  	$(keyValue).val(data.value);
				        	  	$(idValue).val(data.id);
				        	  }
				          });
					}
					
					hideLoader();
				},
				error : function(response, textStatus,
						errorThrown) {
					log(JSON.stringify(response.message));
					error(JSON.stringify(response.message));
					hideLoader();
				}
			});
		}
		
		
		
		function addImage(image, dropzone) {
			
			dropzone.emit(
							'uploadprogress',
							image,
							image.upload.progress,
							image.upload.bytesSent);
			
			var formData = new FormData();
			formData.append("file", image);

			showLoader();
			var url = BACKEND + "/private/store/" + store
			+ '/marketing/logo';
			
			
		    $.ajax({
		        type: "POST",
		        enctype: 'multipart/form-data',
		        url: url,
		        data: formData,
		        processData: false, //prevent jQuery from automatically transforming the data into a query string
		        contentType: false,
				headers : {
					"Authorization" : "Bearer " + TOKEN
				},
		        cache: false,
		        timeout: 600000,//TODO dynamic value
		        success: function (data) {

		            log("SUCCESS : ", data);

		            image.status = Dropzone.SUCCESS;
					dropzone.emit(
						"success",
						image,
						'success',
						null);
					dropzone.emit(
						"complete",
						image);
					dropzone.processQueue();
					//display logo template
					success('');
		            hideLoader();
		            loadMarketing();

		        },
				error : function(response, textStatus,
						errorThrown) {
					log(JSON.stringify(response.message));
					error(JSON.stringify(response.message));
					
					//callback dropzone error
					
					hideLoader();
				}
		    });
		}
		
		function imageTemplate(image) {
			var imageComponent = "<div id='logoTemplate' style='width=100%;text-align:center;' onclick='removeImage()'><img src='" + IMAGES_HOST + image.path + "'><p><span><a id='removeImage' href='#'>[[#{label.generic.remove}]] <i class='fa fa-times'></i></a></span></p></div>";
			//add logo template
			$( "#logo-box" ).prepend(imageComponent);
			//hide upload box
			$( "#dropzone" ).hide();
		}


		function removeImage() {
			showLoader();
			var deleteImageurl = BACKEND + "/private/store/" + store + "/marketing/logo";
			
			$.ajax({
			    type: 'DELETE',
				crossDomain : true,
				cache : false,
				url : deleteImageurl,
				headers : {
					"Authorization" : "Bearer " + TOKEN
				},
			    success: function(result) {
			        // Hide image
			        success('');
			        $("#logoTemplate").remove();
			        // Display upload box
			        $( "#dropzone" ).show();
			        hideLoader();
			    },								
				error : function(response, textStatus, errorThrown) {
					log(JSON.stringify(response.message));
					error(JSON.stringify(response.message));
					hideLoader();
				}
			});
		}
	</script>

</th:block>