<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}">

<head>
<title></title>
</head>


<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.store'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.store'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content">

    <th:block th:include="fragments/messages.html :: messages"></th:block>
    <div class="row">
	
	<div class="col-md-9">
    <!-- end messages -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">
				<span th:text="#{'label.store.information'}"></span>
			</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">

				
					<p>
					<i class="fa fa-building"></i> <span th:text="#{'label.store.metadata'}"></span>
					</p>

					<form role="form" id="store" data-parsley-validate="">
						<div class="box-body">
							<div class="form-group">
								<label for="storeName"><span
									th:text="#{'label.storename'}"></span> *</label> <input
									class="form-control" id="name" name="name" required="">
							</div>
							<th:block th:include="fragments/code.html :: code"></th:block>
							<div class="form-group">
								<label for="phone"><span th:text="#{'label.storephone'}"></span> *</label>
								<input class="form-control" id="phone" name="phone" required="" data-mask>
							</div>
							<div class="form-group">
								<label for="email"><span
									th:text="#{'label.storeemailaddress'}"></span> *</label> <input
									type="email" class="form-control" id="email" name="email" data-parsley-trigger="change" required="">
							</div>

							<th:block th:include="fragments/address.html :: address"></th:block>
							<th:block th:include="fragments/languages.html :: languages"></th:block>
							
							
							<div class="form-group">
								<label for="currency"><span
									th:text="#{'label.currency'}"></span> *</label> 
									<select class="form-control" id="currency" name="currency"></select>
							</div>
							
							<div class="checkbox">
								<label> <input type="checkbox" class="checkTrueFalse" name="currencyFormatNational" id="currencyFormatNational"><span
									th:text="#{'label.store.currency.format'}"></span>
								</label>
								<p class="help-block"><span
									th:text="#{'label.store.currency.format.help'}"></span></p>
							</div>
							
							<div class="form-group">
								<label for="weight"><span
									th:text="#{'label.store.weightunit'}"></span> *</label> 
									<select class="form-control" id="weight" name="weight"></select>
							</div>
							
							<div class="form-group">
								<label for="size"><span
									th:text="#{'label.store.sizeunits'}"></span> *</label> 
									<select class="form-control" id="dimension" name="dimension"></select>
							</div>
							
							<div class="form-group">
				                <label><span
									th:text="#{'label.store.inbusinesssince'}"></span></label>
				
				                <div class="input-group date">
				                  <div class="input-group-addon">
				                    <i class="fa fa-calendar"></i>
				                  </div>
				                  <input type="text" class="form-control pull-right" data-date-format="yyyy-mm-dd" name="inBusinessSince" id="inBusinessSince">
				                </div>
				                <!-- /.input group -->
				            </div>
							
							<div class="checkbox">
								<label> 
									<input class="checkTrueFalse" type="checkbox" name="useCache" id="useCache"><span
									th:text="#{'label.store.useCache'}"></span>
								</label>
							</div>
							
							<input type="hidden" id="action" th:value="${action}"/>

						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								<span th:text="#{'button.label.submit'}"></span>
							</button>
							
							<button th:if="${code} != 'DEFAULT'" id="delete" type="button" class="btn btn-danger pull-right"><span th:text="#{'label.generic.remove'}"></span></button>
							
						</div>
					</form>
				</div><!-- /.box -->
			  </div>
			</div><!--  /.col -->
				
			<div class="col-md-3">
				
					<div class="box box-primary">

	            	<!-- /.box-header -->
	            	<div class="box-body">
		              <strong>-- Store menu --</strong>
					  <span class="" th:each="menuitem : ${MENU}" th:if="${#request.isUserInRole('ROLE_'+menuitem.role)} and ${#strings.contains(menuitem.code, 'store')}">
							<!-- First level menu -->
							<span th:if="${menuitem.menuType} eq 'CONTEXTUALMENU'">
							<p>
							<a th:href="@{${menuitem.url}}">
								<span th:text="#{${'menu.'+menuitem.code}}"></span>
							</a>
							</p>
							<hr>
							</span>
							<!-- Second level menu -->
							<span th:if="${#lists.size(menuitem.menus)} > 1" class="">
            				<span th:each="subitem1 : ${menuitem.menus}" th:if="${#request.isUserInRole('ROLE_'+subitem1.role)} and ${subitem1.menuType} eq 'CONTEXTUALMENU'">
            				<p>
            				<a th:href="@{${subitem1.url}(code=${code})}">
            					<span th:text="#{${'menu.'+subitem1.code}}"></span>
            				</a>
            				</p>
            				<hr>
            				</span>
					  </span>
	            	</div>
			</div>
				
				
			</div>
		</div>

	</div><!-- end row -->


</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">
	<!-- address component -->
	<script src="/js/address.js"></script>
	<!-- available language -->
	<script src="/js/languages.js"></script>
	<!-- Unique code detection -->
	<script src="/js/uniqueCode.js"></script>
	
	<script type="text/javascript">
		$(function () {
		  $('#store').parsley().on('field:validated', function(fieldInstance) {
		    var ok = $('.parsley-error').length === 0;
		    $('.callout-warning').toggleClass('hidden', ok);
		    if (fieldInstance.$element.is(":disabled")) {
		    	$('.callout-warning').hide();
		        fieldInstance._ui.$errorsWrapper.css('display', 'none');
		        // set validation result to true
		        fieldInstance.validationResult = true;
		        return true;
		    }
		  })
		  //.on('form:submit', function() {
		    //return false; // Don't submit form for this demo
		  //});
		});
	</script>
	
	
	<script type="text/javascript">
      $(document).ready(function(){
    	  	resetMessages();
    	  	
    	  	//hide delete button
    	  	$('#delete').hide()

  	    	//Date picker
	  	    $('#inBusinessSince').datepicker({
	  	      autoclose: true
	  	    })
    	  
    	    if($("#action").val()=='READ') {
    	    	
    	    	$('#delete').show();

	    		showLoader();
	    		var store = STORECODE;
	    		if('[[${code}]]'!='') {
	    			store = '[[${code}]]';
	    		}
				//fetch store
	      		var url = BACKEND + "/store/" + store + '?lang=' + LANGUAGE;
	
		    	$.ajax({
		    	    type:"get",
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    dataType: "json",
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	       hideLoader();	
		    	       //log(JSON.stringify(data));
		    	       $("#name").val(data.name);
		    	       $("#code").val(data.code);
		    	       $("#code").prop("disabled", true);
		    	       $("#phone").val(data.phone);
		    	       $("#email").val(data.email);
		    	       $("#address_address").val(data.address.address);
		    	       $("#city").val(data.address.city);
		    	       $("#country").val(data.address.country);
		    	       zones( data.address.country, data.address.stateProvince );
		    	       $("#postalCode").val(data.address.postalCode);
		    	       $("#defaultLanguage").val(data.defaultLanguage);
		    	       for (var i=0; i<data.supportedLanguages.length; i++) {
		    	    	    $("input[value='" + data.supportedLanguages[i] + "'][type='checkbox']").prop("checked", true);
		    	    	}
		    	       $("#currency").val(data.currency);
		    	       if(data.currencyFormatNational) {
		    	    	   $("input[name='currencyFormatNational'][type='checkbox']").prop("checked", true);
		    	       }
		    	       if(data.useCache) {
		    	    	   $("input[name='useCache'][type='checkbox']").prop("checked", true);
		    	       }
		    	       $("#weight").val(data.weight);
		    	       $("#dimension").val(data.dimension);
		    	       if(data.inBusinessSince != null) {
		    	    	   $("#inBusinessSince").val(data.inBusinessSince);
		    	       } else {
		    	    	   $('#inBusinessSince').datepicker("setDate", new Date() );
		    	       }
		    	       
		    	       maskPhone($("#country").val(), $("#phone"));


		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	//TODO if 403 or 401 redirect to not authorized page
		    	    	log(JSON.stringify(response.message));
		    	    	error(JSON.stringify(response.message));
		    	    	hideLoader();
		    	    }
		    	});
    	    }
  	    	
	  	    //handle submit
  	    	$("#store").submit(function(event){
  	    		showLoader();
				event.preventDefault(); //prevent default action 
				resetMessages();
				adjustCheckBoxes($(".checkTrueFalse"));
				
				var form_data = $(this).serializeJSON(); //Encode form elements for submission
				
				//add code again in case field is disabled
				form_data.code=$('#code').val();

				log(form_data);
				
				//create url
				var url = BACKEND + "/private/store";
				var type ='POST';
				
				if($("#action").val()=='READ') {
					url = BACKEND + "/private/store/" + $("#code").val();
					type ='PUT';
				}

		    	 $.ajax({
		    	    type:type,
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    dataType: "json",
		    	    contentType : 'application/json; charset=utf-8',
		    	    data:JSON.stringify(form_data),
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	    	$("#action").val('READ');
		    	    	$("#code").prop("disabled", true);
		    	    	$('#delete').show();
		    	    	success('');
		    	    	hideLoader();
		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	log(JSON.stringify(response.message));
		    	    	error(JSON.stringify(response.message));
		    	    	hideLoader();
		    	    }
		    	});
 
			});
	  	    
  	    	$("#delete").click(function(event){
  	    		
  	    		//log('Deleting');
  	    		
  	    		showLoader();
				event.preventDefault(); //prevent default action 
				resetMessages();


				//create url
				url = BACKEND + "/private/store/" + $("#code").val();
				var type ='DELETE';
				

		    	 $.ajax({
		    	    type:type,
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    contentType : 'application/json; charset=utf-8',
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	    	log('success');
		    	    	success('[[#{label.store.title}]] [' + $("#code").val() + '] [[#{label.generic.deleted}]]');
		    	    	hideLoader();
		    	    	//reset form
		    	    	$('#store').trigger("reset");
		    	    	//becomes creat mode
		    	    	$("#action").val('CREATE');
		    	    	$("#code").prop("disabled", false);
		    	    	
		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	log('error');
		    	    	error(JSON.stringify(response.message));
		    	    	hideLoader();
		    	    }
		    	 });
  	    		
  	    	});

      		//handle country change
    	    $('#country').on('change', function() {
    	    	  zones( this.value, null );
    	    	  maskPhone(this.value, $("#phone"));
    	    });
      		
    	    maskPhone($("#country").val(), $("#phone"));
      		currency();
      		weight();
      		size();
      		
      });
      
      //load country
      //set default country
      //load zones from default country
      //set default zone
      addressComponent.BACKEND = BACKEND;
      addressComponent.MODE = '[[${action}]]';
      addressComponent.LANGUAGE = LANGUAGE;
      address();//load address component
      
	  //keep or remoce autocomplete address
	  var key = '[[${addressApiKey}]]'
	  if(key == null) {
		$('#addressAutocomplete').hide();
	  } 
      
      languagesComponent.BACKEND = BACKEND;
      languagesComponent.MODE = '[[${action}]]';
      languagesComponent.LANGUAGE = LANGUAGE;
      languages();//load address component
      
	  //used by generic code component
      $("#codeTitle").html('[[#{label.storecode}]]');

      
	  //populate currency
      function currency() {
    	  
			showLoader();
			var url = "/admin/references/currency";
		    
			$.getJSON(url, function (data) {

				$('#currency').empty();
		        $.each(data, function (i, data) {      // bind the dropdown list using json result              
   		             $("#currency").append($("<option></option>").val(data.code).html(data.name)); 
		        });
		        hideLoader();
		    })

	  }
      
      //populate weight
      function weight() {
    	  
			showLoader();
			var url = "/admin/references/weights";
		    
			$.getJSON(url, function (data) {

				$('#weight').empty();
		        $.each(data, function (i, data) {      // bind the dropdown list using json result              
 		             $("#weight").append($("<option></option>").val(data.code).html(data.name)); 
		        });
		        hideLoader();
		    })

	  }
      
      //populate size
      function size() {
    	  
			showLoader();
			var url = "/admin/references/sizes";
		    
			$.getJSON(url, function (data) {

				$('#dimension').empty();
		        $.each(data, function (i, data) {      // bind the dropdown list using json result              
 		             $("#dimension").append($("<option></option>").val(data.code).html(data.name)); 
		        });
		        hideLoader();
		    })
	  }

    	function adjustCheckBoxes($input) {
	    		if($input.is(':checked')) {
	              	$input.attr('value', 'true');
	          	 } else {
	          		$input.attr('value', 'false');
	          	 }
	    }
      
      </script>

    <!-- required for address component -->
	<script th:if="${addressApiKey!=null}"
		th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + addressApiKey + '&libraries=places&callback=initAutocomplete'}}"
		async defer>
	</script>

</th:block>