<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
	 <title></title>
</head>


	 <span layout:fragment="breadcrumb" id="breadcrumb">
	       <h2>
	        <span class="breadcrumb-title" th:text="#{'menu.store'}"/>
	        <small></small>
	      </h2>
	      <ol class="breadcrumb">
	        <li><a href="#"><i class="fa fa-building"></i>&nbsp;<span th:text="#{'menu.home'}"></span></a></li>
	        <li class="active"><span th:text="#{'menu.store'}"></span></li>
	      </ol>
	 </span>

      
      <!-- Main row -->
      <span layout:fragment="page_content" id="page_content">
      
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title">Select2</h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Minimal</label>
                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-d9va-container"><span class="select2-selection__rendered" id="select2-d9va-container" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Disabled</label>
                <select class="form-control select2 select2-hidden-accessible" disabled="" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select><span class="select2 select2-container select2-container--default select2-container--disabled" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1" aria-labelledby="select2-oho0-container"><span class="select2-selection__rendered" id="select2-oho0-container" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
              <div class="form-group">
                <label>Multiple</label>
                <select class="form-control select2 select2-hidden-accessible" multiple="" data-placeholder="Select a State" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option>Alabama</option>
                  <option>Alaska</option>
                  <option>California</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Select a State" style="width: 563px;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <!-- /.form-group -->
              <div class="form-group">
                <label>Disabled Result</label>
                <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                  <option selected="selected">Alabama</option>
                  <option>Alaska</option>
                  <option disabled="disabled">California (disabled)</option>
                  <option>Delaware</option>
                  <option>Tennessee</option>
                  <option>Texas</option>
                  <option>Washington</option>
                </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-m5jl-container"><span class="select2-selection__rendered" id="select2-m5jl-container" title="Alabama">Alabama</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
          the plugin.
        </div>
      </div>
      
      
      
      
       </span>
      <!-- /.span (main span) -->
      
      <!-- All actions in store to be defined here -->
      <th:block layout:fragment="script">
      <script type="text/javascript">
      $(document).ready(function(){
    	  
    		showLoader();
      
      		//Variables
/*       	var TOKEN = '[[${token}]]';
      		var USERNAME = '[[${userName}]]';
      		var FIRSTNAME = '[[${firstName}]]';
      		var LASTNAME = '[[${lastName}]]';
      		var STORECODE = '[[${merchant}]]'; */
      		
      		log("Store code " + STORECODE)

      		var url = BACKEND + "/private/store/" + STORECODE + '?lang=' + LANGUAGE.code;

	    	$.ajax({
	    	    type:"get",
	    	    crossDomain: true,
	    	    cache: false,
	    	    url: url,
	    	    dataType: "json",
	    	    headers: {
	    	        "Authorization": "Bearer " + TOKEN
	    	    },
	    	    success: function(data){
	    	       hideLoader();
	    	       log("success ");
	    	       

	    	    },
	    	    error: function(response,textStatus,errorThrown) {
	    	    	//TODO if 403 or 401 redirect to not authorized page
	    	    	hideLoader();
	    	    	log(textStatus);
	    	        log(response);
	    	    	var r = jQuery.parseJSON(response.responseText);
	    	    	log(r.message + "-" + textStatus + "-" + errorThrown);
	    	    	$('.alert-danger').html(r.message);
	    	    	$('.alert-danger').show();
	    	    }
	    	});
      		
      		
      		
      		//End user summary
      		
      
      });
      </script>
      </th:block>
