<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
	 <title></title>
</head>


	 <span layout:fragment="breadcrumb" id="breadcrumb">
	       <h2>
	        <span class="breadcrumb-title" th:text="#{'menu.store'}"/>
	        <small></small>
	      </h2>
	      <ol class="breadcrumb">
	        <li><a href="#"><i class="fa fa-building"></i>&nbsp;<span th:text="#{'menu.home'}"></span></a></li>
	        <li class="active"><span th:text="#{'menu.store'}"></span></li>
	      </ol>
	 </span>

      
      <!-- Main row -->
      <span layout:fragment="page_content" id="page_content">
      
      <div class="box box-default">
        <div class="box-header with-border">
          <h3 class="box-title"><span th:text="#{'label.store.information'}"></span></h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">

            
            
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="storeName"><span th:text="#{'label.storename'}"></span></label>
                  <input class="form-control" id="name">
                </div>
                <div class="form-group">
                  <label for="code"><span th:text="#{'label.storecode'}"></span></label>
                  <input class="form-control" id="code">
                </div>
                <div class="form-group">
                  <label for="phone"><span th:text="#{'label.storephone'}"></span></label>
                  <input class="form-control" id="phone">
                </div>
                <div class="form-group">
                  <label for="phone"><span th:text="#{'label.storeemailaddress'}"></span></label>
                  <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                  <label for="address"><span th:text="#{'label.generic.address'}"></span></label>
                  <input class="form-control" id="address_address">
                </div>
                <div class="form-group">
                  <label for="address"><span th:text="#{'label.generic.city'}"></span></label>
                  <input class="form-control" id="city">
                </div>
                <div class="form-group">
                  <label for="address"><span th:text="#{'label.generic.country'}"></span></label>
                  <input class="form-control" id="city">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <input type="file" id="exampleInputFile">

                  <p class="help-block">Example block-level help text here.</p>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Check me out
                  </label>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
            
            </div>
    
  
          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          Visit <a href="https://select2.github.io/">Select2 documentation</a> for more examples and information about
          the plugin.
        </div>
      </div>
      
      
       </span>
      <!-- /.span (main span) -->
      
      <!-- All actions in store to be defined here -->
      <th:block layout:fragment="script">
      <script type="text/javascript">
      $(document).ready(function(){
    	  
    	    if('READ' == '[[${action}]]') {

	    		showLoader();
	      
	      		//Variables
	/*       s	var TOKEN = '[[${token}]]';
	      		var USERNAME = '[[${userName}]]';
	      		var FIRSTNAME = '[[${firstName}]]';
	      		var LASTNAME = '[[${lastName}]]';
	      		var STORECODE = '[[${merchant}]]'; */
	      		
	      		log("Store code " + STORECODE)
	
	      		var url = BACKEND + "/private/store/" + STORECODE + '?lang=' + LANGUAGE.code;
	
		    	$.ajax({
		    	    type:"get",
		    	    crossDomain: true,
		    	    cache: false,
		    	    url: url,
		    	    dataType: "json",
		    	    headers: {
		    	        "Authorization": "Bearer " + TOKEN
		    	    },
		    	    success: function(data){
		    	       hideLoader();
		    	       log("success ");
		    	       
		    	       $("#name").val(data.name);
		    	       $("#code").val(data.code);
		    	       $('#code').attr('readonly', true);
		    	       $("#phone").val(data.phone);
		    	       $("#email").val(data.email);
		    	       $("#address_address").val(data.address.address);
		    	       $("#city").val(data.address.city);
		    	       
	
		    	    },
		    	    error: function(response,textStatus,errorThrown) {
		    	    	//TODO if 403 or 401 redirect to not authorized page
		    	    	hideLoader();
		    	    	log(textStatus);
		    	        log(response);
		    	    	var r = jQuery.parseJSON(response.responseText);
		    	    	log(r.message + "-" + textStatus + "-" + errorThrown);
		    	    	$('.alert-danger').html(r.message);
		    	    	$('.alert-danger').show();
		    	    }
		    	});
	    	
	    	
    	    }
      		
      		
      		
      		//End user summary
      		
      
      });
      </script>
      </th:block>
