<script type="text/x-tmpl" id="tmpl-fileupload-container">
    <div class="fm-fileupload-container">
        <h2>{%=o.folder%}</h2>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple style="display: none" />

        <div class="dropzone-wrapper">
            <div class="dropzone">
                <div class="default-message">
                    <span>{%=o.lang.upload_dropzone_message%}</span>
                </div>
            </div>
        </div>
        <div id="total-progress">
            <div style="width:0%;" class="progress-bar"></div>
        </div>
        <div class="prompt-info">{%=o.info%}</div>
    </div>
</script>