<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{base}">

<head>
	<title>Page 1</title>
</head>
<th:block layout:fragment="breadcrumb">
	<li class="breadcrumb-item">Page 1</li>
</th:block>
<div layout:fragment="page_content" id="page_content">
	<h3>Page 1</h3>
	
	<div class="alert alert-info" style="display: none;" id="js-content">
	</div>
	<a th:href="@{/page2}">Go to page 2</a>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript">
$(function(){
	$("#js-content").html("From Javascript").slideToggle();
});
</script>
</th:block>