.fm-container * {
    font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}

.fm-container {
    background-color: #294750;
}

.fm-container .fm-header .breadcrumbs {
    color: #fff;
}

.fm-container .fm-splitter .splitter-bar-vertical {
    width: 10px;
}

.fm-container .fm-filetree {
    border: none;
    color: #A0C8D3;
    background-color: #436670;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fm-container .fm-fileinfo {
    border: none;
    background-color: #E5E5E5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.fm-container .fm-preview .fm-preview-title h1 {
    color: #444;
}

.fm-container .fm-preview .fm-preview-details td {
    color: #333;
    border-bottom: 1px dotted #efefef;
}

.fm-container button {
    color: #333;
    background-color: #E8E8E8;
    padding: 0.2em 0.3em;
    border: 1px solid #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.fm-container button:hover {
    background-color: #C3D2F7;
}

.fm-container #filepath {
    background-color: #F7F7F7;
    border: 1px solid #fff;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.fm-container #folder-info {
    color: #658189;
}

.fm-container #summary {
    background: url(../images/summary.png) no-repeat center center;
}

.fm-container #link-to-project {
    background: transparent url(../images/fmlogo.png) no-repeat 0 0;
}

.fm-container .search-box input {
    background-color: #294750;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.fm-container .search-box input:focus {
    background-color: #C6C6C6;
}

.fm-container .drag-helper-grid,
.fm-container .view-items .grid li {
    width: 196px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}

.fm-container .view-items .grid li.drop-hover,
.fm-container .view-items .list tr.drop-hover {
    background-color: #a3a39f;
}

.fm-container .view-items .list td {
    border-bottom: 1px dotted #efefef;
}

.fm-popup.alertify .fm-fileupload-container #total-progress {
    background-color: #A1ADE2;
}

.fm-popup.alertify .fm-fileupload-container #total-progress .progress-bar {
    background-color: #333;
}

.fm-container .drag-helper-grid {
    width: 196px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}