<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{base}" th:with="page='order'">>

<span layout:fragment="breadcrumb" id="breadcrumb">
	<h2>
		<span class="breadcrumb-title" th:text="#{'menu.store'}" /> <small></small>
	</h2>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-building"></i>&nbsp;<span
				th:text="#{'menu.home'}"></span></a></li>
		<li class="active"><span th:text="#{'menu.store'}"></span></li>
	</ol>
</span>

<!-- Main row -->
<span layout:fragment="page_content" id="page_content">

    <th:block th:include="fragments/messages.html :: messages"></th:block>
    
    <!-- end messages -->
	<div class="box box-default">
		<div class="box-header with-border">
			<h3 class="box-title">
				<span th:text="#{'label.store.information'}"></span>
			</h3>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row">
				<div class="col-md-12">

					<p>
						<table class="table table-bordered table-striped" id="ordersList">
		                    <thead>
		                           <th><span th:text="#{'label.order.code'}"></span></th>
		                           <th><span th:text="#{'label.order.status'}"></span></th>
								    <th><span th:text="#{'label.order.payment.method'}"></span></th>
		                           <th><span th:text="#{'label.order.total'}"></span></th>
		                           <th><span th:text="#{'label.order.date'}"></span></th>
		                    </thead>
		               </table>
					</p>
				</div>
			</div>
			<!-- /.row -->
		</div>
		<!-- /.box-body -->
		<!-- 		
			<div class="box-footer">
			footer text if required
		</div> 
		-->
	</div>


</span>
<!-- /.span (main span) -->

<!-- All actions in store to be defined here -->
<th:block layout:fragment="script">

	<script type="text/javascript">

	$(document).ready(function () {
        loadOrderList();
	});
	
	</script>
	
<script
	th:src="@{|/webjars/datatables/1.10.19/js/jquery.dataTables.min.js|}">
</script>
<script
	th:src="@{|/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js|}">
</script>	

</th:block>