.blue-box {
  position: relative;
  margin: 0 auto;
  padding: 15px;
  font-size: 12px;
  color: #264c72;
  border: 1px solid #97c1da;
  border-radius: 3px;
  background-color: #d8ebf8;
  background: -moz-linear-gradient(#d8ebf8, #d0e3ef);
  background: -webkit-linear-gradient(#d8ebf8, #d0e3ef);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d8ebf8', endColorstr='#d0e3ef')";
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  text-shadow: 0 1px 0 rgba(255,255,255,0.8);
}


pre {
  padding: 8px 10px 8px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-family: Monaco,"DejaVu Sans Mono","Courier New",monospace;
  font-size: 13px;
  color: #666;
  -webkit-font-smoothing: inherit;
  overflow: auto;
}


pre.command-line {
  border: 2px solid #ddd;
  background-color: #333;
  color: #fff;
  padding: 10px;
  -webkit-font-smoothing: auto;
}

pre span {
  white-space: pre-wrap;
}

pre.command-line {
  border: 2px solid #ddd;
  background-color: #333;
  color: #fff;
  padding: 10px;
  -webkit-font-smoothing: auto;
}

pre.command-line em {
  color: #F9FE64;
  font-style: italic;
}
