<!DOCTYPE html>
<html>
					<span th:fragment="address">
					<fieldset class="address-border">
							<div class="form-group">
								<input
									autocomplete="new-password" type="text" class="form-control" id="addressAutocomplete" th:placeholder="#{message.address.placeholder}" onFocus="geolocate()">
							</div>
							<div class="form-group">
								<label for="address"><span
									th:text="#{'label.generic.address'}"></span> *</label> <input
									class="form-control" id="address_address" name="address[address]" required="">
							</div>

							<div class="form-group">
							<div class="col-md-6" style="padding-left:0px !important;">
								<div class="checkout-form-list zone-select">
									<label>State / province <span class="required"></span> *</label>
									<select id="stateProvince" name="address[stateProvince]"
										class="form-control"
										style="border-radius:0px !important;">
									</select> 
									<span id="error-customer.billing.stateProvince" class="error"></span>
								</div>
							</div>
							<div class="col-md-6" style="padding-left:0px !important;padding-right:0px !important;">
								<div class="checkout-form-list">
									<label><span th:text="#{'label.generic.postalcode'}"></span> *</label> 
										<input type="text" id="postalCode" name="address[postalCode]"
										class="form-control" required=""> <span
										id="error-customer.billing.postalCode" class="error"></span>
								</div>
							</div>
							</div>

							<div class="form-group">
								<label for="address" style="margin-top:15px;"><span
									th:text="#{'label.generic.city'}"></span> *</label> <input
									class="form-control" id="city" name="address[city]" required="">
							</div>
							<div class="form-group">
								<label for="address"><span
									th:text="#{'label.generic.country'}"></span> *</label> 
									<select id="country" name="address[country]"
										class="form-control"
										style="border-radius:0px !important;">
									</select>
							</div>
							</fieldset>
							</span>



<body>

</body>
</html>