<!DOCTYPE html>
<header class="main-header" th:fragment="header">
    <!-- Logo -->
    <a href="/admin/dashboard" class="logo">
    	
      <!--mini logo for sidebar mini 50x50 pixels-->
      <span class="logo-mini"><b>S</b>HP</span>
      <span class="logo-lg"><img src="/img/logo.png" width="160"></span>
    </a>
   <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <!-- Languages -->
          <li class="dropdown user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span th:text="#{'languages'}"></span>
          </a>
             <ul class="dropdown-menu">
              <li th:each="language : ${LANGUAGE}" class="footer"><a th:href="@{'?lang=' + ${language.code}}" th:text="#{${'lang.'+language.code}}"></a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs" th:text="${firstName}"></span>
            </a>
             <ul class="dropdown-menu">
              <li class="footer"><a href="#" th:text="#{menu.profile}">Profile</a></li>
              <li class="footer"><a th:href="@{/logout}" th:text="#{button.label.logout}">Sign out</a></li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
  </header>