<!DOCTYPE html>
<html>
					<span th:fragment="languages">
					
					<div class="form-group">
					<label for="languages"><span
									th:text="#{'label.supportedlanguages'}"></span></label>
					<span id="languages"></span>
					</div>
					
					
					<div class="form-group">
					<label for="languages"><span
									th:text="#{'label.defaultlanguage'}"></span></label>
					
					<select class="form-control checkTrueFalse" id="defaultLanguage" name="defaultLanguage"></select>
					</div>
					</span>



<body>

</body>
</html>