<!DOCTYPE html>
<html>

    <aside class="main-sidebar" th:fragment="sidemenu">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
        <li class="" th:each="menuitem : ${MENU}" th:attrappend="class= ${#lists.size(menuitem.menus)} > 1 ? treeview : ''" th:if="${#request.isUserInRole('ROLE_'+menuitem.role)} and ${menuitem.menuType} eq 'MAINMENU'">
          <a th:href="@{${menuitem.url}}">
            <i class="fa " th:attrappend="class= ${menuitem.icon}" ></i> 
            	<span th:text="#{${'menu.'+menuitem.code}}"></span>
            	<span th:if="${#lists.size(menuitem.menus)} > 1" class="pull-right-container">
              		<i class="fa fa-angle-left pull-right"></i>
            	</span>
            </a>
            <ul th:if="${#lists.size(menuitem.menus)} > 1" class="treeview-menu">
            		<li class="" th:each="subitem1 : ${menuitem.menus}" th:attrappend="class= ${#lists.size(subitem1.menus)} > 1 ? treeview : ''" th:if="${#request.isUserInRole('ROLE_'+subitem1.role)}  and ${subitem1.menuType} eq 'MAINMENU'">
            			<a th:href="@{${subitem1.url}}">
            				<i class="fa fa-circle-o"></i><span th:text="#{${'menu.'+subitem1.code}}"></span>
            				<span th:if="${#lists.size(subitem1.menus)} > 1" class="pull-right-container">
              					<i class="fa fa-angle-left pull-right"></i>
            				</span>
            			</a>
            			<ul th:if="${#lists.size(subitem1.menus)} > 1" class="treeview-menu">
            				<li th:each="subitem2 : ${subitem1.menus}" th:if="${#request.isUserInRole('ROLE_'+subitem2.role)}">
            				<a th:href="@{${subitem2.url}}">
            					<i class="fa fa-circle-o"></i><span th:text="#{${'menu.'+subitem2.code}}"></span>
            				</a>
            			</ul>
            		</li>
            </ul>
        </li>
        </ul>
    </section>
    <!-- /.sidebar -->
    </aside>


</html>