<!DOCTYPE html>
<span th:fragment="scripts">


	<!-- javascripts here -->
	<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"></script>
	<script type="text/javascript" src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/webjars/jquery.inputmask/4.0.5/min/jquery.inputmask.bundle.min.js"></script>
	<!--<script type="text/javascript" src="/webjars/jquery.inputmask/4.0.5/inputmask/inputmask.extensions.js"></script>-->
		<!-- Parsley validator http://parsleyjs.org/ -->
	<script type="text/javascript" src="/webjars/parsleyjs/2.8.1/dist/parsley.min.js"></script>
	<!-- languages for parsley - others can be added -->
	<script>
  		$.widget.bridge('uibutton', $.ui.button);
  		var srcLanguage = "/webjars/parsleyjs/2.8.1/dist/i18n/" + LANGUAGE + ".js";
  		document.write('<script type="text\/javascript" t" src="'+srcLanguage+'"><\/script>')
	</script>
	

<!-- 	<script type="text/javascript" src="/webjars/parsleyjs/2.8.1/dist/i18n/fr.extra.js"></script>
	<script type="text/javascript" src="/webjars/parsleyjs/2.8.1/dist/i18n/fr.js"></script>
	<script type="text/javascript" src="/webjars/parsleyjs/2.8.1/dist/i18n/fr.js"></script>
	<script type="text/javascript" src="/webjars/parsleyjs/2.8.1/dist/i18n/en.js"></script>
	<script type="text/javascript" src="/webjars/parsleyjs/2.8.1/dist/i18n/ru.extra.js"></script>
	<script type="text/javascript" src="/webjars/parsleyjs/2.8.1/dist/i18n/ru.js"></script> -->
	
	<!--<script type="text/javascript" src="/webjars/knockout/3.4.2/knockout.js"></script>-->
	<script type="text/javascript" src="/webjars/dropzone/5.5.0/min/dropzone.min.js"></script>
	
	
	<!-- Morris.js charts -->
	<script type="text/javascript" src="/js/admin/raphael.min.js"></script>
	<script type="text/javascript" src="/webjars/morrisjs/0.5.1/morris.min.js"></script>
	
	<script type="text/javascript" src="/js/admin/jquery.serializejson.min.js"></script>
	<script type="text/javascript" src="/js/admin/jquery.sparkline.min.js"></script>
	<script type="text/javascript" src="/js/admin/jquery.knob.min.js"></script>
	
	<!-- date range -->
	<script type="text/javascript" src="/js/admin/moment.min.js"></script>
	<script type="text/javascript" src="/js/admin/daterangepicker.js"></script>
	
	<!-- datepicker -->
	<script type="text/javascript" src="/js/admin/bootstrap-datepicker.min.js"></script>
	
	<script type="text/javascript" src="/js/admin/jquery.slimscroll.min.js"></script>
	
	<script type="text/javascript" src="/js/admin/fastclick.js"></script>
	
	<script type="text/javascript" src="/js/admin/adminlte.min.js"></script>
	
	<!-- templating engine -->
	<script type="text/javascript" src="/webjars/underscore/1.9.0/underscore-min.js"></script>
	<script type="text/javascript" src="/js/messages.js"></script>

	
	
	
	
	   
</span>