<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
	<title>Page 2</title>
</head>
<th:block layout:fragment="breadcrumb">
	<li class="breadcrumb-item"><a th:href="@{/}">Page 1</a></li>
	<li class="breadcrumb-item">Page 2</li>
</th:block>
<div layout:fragment="page_content" id="page_content">
	<h3>Page 2</h3>
	
	<div class="alert alert-warning" style="display: none;" id="js-content">
	</div>
</div>
<th:block layout:fragment="scripts">
<script type="text/javascript">
$(function(){
	$("#js-content").html("From Javascript in page 2").slideToggle();
});
</script>
</th:block>