@font-face {
font-family: 'ralewayextrabold';
src: url('raleway-extrabold-webfont.eot');
src: url('raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	 url('raleway-extrabold-webfont.woff2') format('woff2'),
	 url('raleway-extrabold-webfont.woff') format('woff'),
	 url('raleway-extrabold-webfont.ttf') format('truetype'),
	 url('raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
font-weight: normal;
font-style: normal;
}

.admin_text h2{font:normal 28px 'ralewayextrabold';color:#ffffff;text-transform:uppercase;padding-bottom:10px;margin-left:42px;margin-top:-20px;}
.breadcrumb-title {margin-left:12px;}
.breadcrumb {margin-bottom:10px !important;}
.content {padding-top:0px !important;}

fieldset.address-border {
    border: 1px groove #f9fafc !important;
    padding: 1.4em 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

input.parsley-success, select.parsley-success, textarea.parsley-success {
    color: #000 !important;
    background-color: #fff !important;
}


span.title {
    position: relative;
    color: #bdbdbd;
}

.dropzone {
  background: #f6f6f6 !important;
  border: 4px dashed #ddd !important;
}

.dropzone #upload-label i{
  text-align: center;
  display: block;
  color: #e7615c;
  height: 115px;
  font-size: 9.5rem;
  top: 0px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

/** image selector **/
.img-selector {
    width: 100%;
    padding: 10px;
    border: 1px solid #f5efef;
    float: left;
    margin: 15px 0;
    border-radius: 5px;
    box-shadow: 2px 3px 0px #e4d8d8;
    position:relative;
    min-height:150px;
    max-height:150px;
    overflow:hidden;
}

/**
.img-selector {
    border: 1px solid #07c;
    box-shadow: 0 0 5px #07c;
    outline: none;
}
**/

.myClickState {
  border-color: lime;
}

.img-selector img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}


/*media queries*/

@media only screen and (max-width: 601px){
  .fileuploader {
    width: 100%;
  }

 .preview-container {
    width: 100%;
  }
}

.dropdown-menu-li-item {
	padding:5px;
}
