@font-face {
font-family: 'ralewayextrabold';
src: url('raleway-extrabold-webfont.eot');
src: url('raleway-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	 url('raleway-extrabold-webfont.woff2') format('woff2'),
	 url('raleway-extrabold-webfont.woff') format('woff'),
	 url('raleway-extrabold-webfont.ttf') format('truetype'),
	 url('raleway-extrabold-webfont.svg#ralewayextrabold') format('svg');
font-weight: normal;
font-style: normal;
}

.admin_text h2{font:normal 28px 'ralewayextrabold';color:#ffffff;text-transform:uppercase;padding-bottom:10px;margin-left:42px;margin-top:-20px;}