
@font-face {
    font-family: 'montserratextralight';
    src: url('montserrat-extralight-webfont.woff2') format('woff2'),
         url('montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/** address **/

.store-name {
	color:#000;
}

.footer-wrapper {
	color:#fff !important;
}

.btn.template-btn {
	background: #d8d8d8 none repeat scroll 0 0;
	border: 1px solid #d8d8d8;
	border-radius: 0;
	color: #333333;
	font-size: 13px;
	font-weight: 700;
	padding: 9px 18px;
	text-transform: uppercase;
}
.btn.template-btn:hover {
	background: #c2a773 none repeat scroll 0 0;
	border: 1px solid #c2a773;
	color: #ffffff;
}

/** products ***/
section.products-grid {
	padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    overflow: hidden;
}

section.products-grid .product {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    margin-bottom:20px;
    height:440px;
}

section.products-grid .product .thumbnail {
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

section.products-grid .product .thumbnail img {
	margin-top:20px;
}

.category-products {
	margin-top:20px;
}

.listing-product-name {
}


.listing-product-name:hover{
    color:#FFFFFF;
}

.width-100 {
	width:100%;
}

.hcenter {
	text-align:center;
}

.cart-close {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.cart-totals-table {
	margin-bottom: 20px;
}

.wc-proceed-to-checkout {
	text-align:right;
}

.wc-proceed-to-checkout a {
	text-transform: uppercase !important;
}

#main-content {
	
	margin-top:40px;
	margin-bottom:40px;
	
}

.cart-main-area {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}

/** BTNS   http://codepen.io/getagain/pen/Ftien **/

.transition-ano {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/************************************\
Setup
\************************************/

*{
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.specialPrice {
  color:#ff0000;
}


.store-btn {
  margin-top:10px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.store-btn-addtocart {
	display: inline-block;
	line-height: 52px;
}

.store-btn-more {
	display: inline-block;
	line-height: 62px;
}

.store-btn .more {
    float: left;
    background-color: #e09e25;
    color: white;
    padding: 0 1.3em;
    font-size: 1.0em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    line-height: 42px;
    text-decoration: none;	
}

.store-btn .addToCart {
    float: left;
    background-color: #555555;
    color: white;
    padding: 0 1.3em;
    font-size: 1.0em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    line-height: 42px;
    text-decoration: none;	
}



.store-btn{
  min-width: 2em;
}

.order-total-label {
	text-transform:uppercase;
}

#customerAgreement {
	margin-left:20px;
}

.single-new-product-override {
	margin-bottom: 10px !important;
	height:150px !important;
}

/** Laptop **/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  

}

@media (max-width: 940px) {

    .banner-text h2 {
		font-size:28px
	}
	
	.banner-text {
		font-size:14px
	}
	
}

@media (max-width: 650px) {

    .banner-text h2 {
		font-size:23px
	}
	
	.banner-text {
		font-size:13px
	}
	
	.slider-button {
		display:none;
	}
}

@media (max-width: 460px) {
	
	.banner-text h2 {
		font-size:18px
	}
	
	.banner-text {
		font-size:11px
	}
	
	.slider-button {
		display:none;
	}

}

/** large **/
@media (min-width: 502px) {
	#searchField {
		width:250px;
	}
	

	
	.typeahead,
	.tt-query,
	.tt-hint {
	  width: 250px;
	  z-index:10000 !important;

	}
	
	.tt-dropdown-menu {
  		width: 250px;
	}
}

/** small **/
@media (max-width:501px) {
	
	#searchField {
		width:200px;
	}

	.typeahead,
	.tt-query,
	.tt-hint {
	  width: 180px;
	  z-index:10000 !important;

	}
	
	.tt-dropdown-menu {
  		width: 180px;
  		z-index:1000000 !important;
	}
	
}



/** typeahead search **/
.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
	  padding: 8px 12px;
	  margin-top:4px;
	  font-size: 14px;
	  line-height: 35px;
	  outline: none;
	}


.twitter-typeahead {
	vertical-align:top;
	margin-top:-4px;
}

.typeahead {
  background-color: #fff;
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  margin-top: 4px;
  padding: 2px 0;
  background-color: #fff;
  color:#ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  z-index:10000 !important;
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #fbfbfb;

}

.tt-suggestion p {
  margin: 0;
}


/** end twitter typeahead search **/


.banner-slider {
  /* Style the actual content */
}
.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
  width: 30%;
  height: 100%;
}
.banner-text h2 {
  margin: 0;
  color:#ffffff;
}
.banner-text p {
  margin: 1em 0;
  color:#ffffff;
}
.banner-slider .banner-text button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.banner-slider .image-content {
  line-height: 0;
}
.banner-slider .image-content img {
  max-width: 100%;
}

.your-order-table {
	overflow-x:hidden !important;
}

.v-margin20 {
	margin-top:20px;
	margin-bottom:20px;
}

.checkbox-form {
	padding-top:10px;
}

.payment-method-box {
	width:100%;
	padding:10px 10px 10px;
}

/** checkout **/
.nav-tabs>li>a {
	border-color: #d8d8d8;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #F9F9F9;
}


.box-style-4 {
	max-height:300px;
	height:300px;
	position: relative;
	overflow: hidden;
}


.box-style-4 {
	transition: all 0.5s ease-in 0s;
}

.box-style-4:hover {
	-webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
}

.box-style-4 .caption {
	transition: all 0.2s ease-out 0s;
  	background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
  	bottom: 0;
  	padding: 0;
  	/**position: absolute;**/
  	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
  	width: 100%;
}

.box-style-4:hover .caption {
	-webkit-transform: translateY(-80px);
	-moz-transform: translateY(-80px);
	transform: translateY(-80px);			
}

.box-style-4 .product-details {
	padding: 0px 20px;
}

.box-style-4 .product-details h3 {
	font-size: 16px;
    font-weight: 200;
    margin-top:5px !important;
}

.box-style-4 .product-details h4 {
	font-size: 16px !important;
    font-weight: 200;
    margin-top:0px !important;
}

.box-style-4 .caption .product-details .btn {
    margin-top: 15px;
}

.box-style-4 .price del {
	font-size: 16px !important;
}

.box-style-4 .price {
	margin-bottom: 15px !important;
}


.box-style-4 .overlay i {
	font-size: 26px;
	margin: 0;
}

.box-style-4 {
	padding-top: 20px;
	margin: 20px 0;
}

.white-bg {
	background-color: #ffffff !important;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	border: none !important;
}

.object-non-visible {
	opacity: 0;
	filter: alpha(opacity=0);
}
.object-visible,
.touch .object-non-visible {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible,
	.touch .object-non-visible {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}

.fixed-header-on .header.fixed.animated {
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
}


/* dropdown animations */
.animated.main-navigation .open .dropdown-menu,
.open .dropdown-animation {
	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeInDownSmall;
	animation-name: fadeInDownSmall;
}
.open .dropdown-animation {
	-webkit-animation-duration: 0.3s;
	animation-duration: 0.3s;
}
.animated.main-navigation .dropdown-menu .open .dropdown-menu {
	-webkit-animation-name: fadeInLeftSmall;
	animation-name: fadeInLeftSmall;
}

.object-visible,
.touch .object-non-visible {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

/* Targeting only Firefox for smoothest animations */
@-moz-document url-prefix() {
	.object-visible,
	.touch .object-non-visible {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}

.product-image {
    content: "";
    display: block;
    height: 100%;
    height:200px;
    position: relative;
    width: 100%;
    text-align:center;
    margin-left: auto ;
    margin-right: auto ;
}

.open .dropdown-toggle.btn-default {
	color: #fff !important;
	background-color: #394346;
	border-color: #394346;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default {
	background-color: #394346;
	border-color: #394346;
}

.btn-detail {
  background-color: #394346;
  border-color: #394346;
  color: #f7f7f7;
  font-size: 14px;
}


.btn-buy {
  background-color: #5cb85c;
  border-color: #4cae4c;
  color: #f7f7f7;
  font-size: 14px;
}

.product-image {
    content: "";
    display: block;
    height: 100%;
    height:230px;
    position: relative;
    width: 100%;
    text-align:center;
    margin-left: auto ;
    margin-right: auto ;
}

.product-img {
   max-height:140%;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   /**top: 50%;
    left: 50%;
    margin-right: -50%;**/
    /**transform: translate(-50%, -50%);**/
}

.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(241, 241, 241, 0.85);
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}

a.overlay {
    background-color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
}


.ribbon-wrapper-green {
  width: 85px;/**85**/
  height: 88px;/**88**/
  overflow: hidden;
  position: absolute;
  top: 18px;
  right: 14px;
}

.ribbon-green {
  font: bold 14px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -10px;/**-5**/
  top: 5px;/**15**/
  width: 130px;/**120**/
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  z-index:1000;
  margin-top: 15px!important;
}

.sold-out-wrapper-red {
  width: 85px;/**85**/
  height: 88px;/**88**/
  overflow: hidden;
  position: absolute;
/*   top: 18px; */
  right: 14px;
}

.sold-out-red {
  font: bold 14px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -10px;/**-5**/
  top: 5px;/**15**/
  width: 130px;/**120**/
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
  z-index:1000;
  margin-top: 15px!important;
}

/* -------- Process Css -------- */

.process_area{
	padding-bottom: 30px;
}
.single-process{
	padding: 25px;
	background: #fff;
	margin-bottom: 30px;
	box-shadow: 5px 5px 15px rgba(0,0,0,.05);
	border-radius: 4px;
}
.single-process i{
	color: #fff;
	font-size: 23px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #FF2700; 
	border-radius: 50%;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.08);
	
}
.single-process h3 {
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 18px;
	margin-bottom: 0;
	letter-spacing: 2px;
	font-weight: 600;
	line-height: 21px;
}
.single-process p{
	font-size: 14px;
}
.gradient_section{
	background-image: linear-gradient(45deg, #33d286 0%, #3995c3 100%);
}

