
@font-face {
    font-family: 'montserratextralight';
    src: url('montserrat-extralight-webfont.woff2') format('woff2'),
         url('montserrat-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/** address **/

.store-name {
	color:#000;
}

.footer-wrapper {
	color:#fff !important;
}

.btn.template-btn {
	background: #d8d8d8 none repeat scroll 0 0;
	border: 1px solid #d8d8d8;
	border-radius: 0;
	color: #333333;
	font-size: 13px;
	font-weight: 700;
	padding: 9px 18px;
	text-transform: uppercase;
}
.btn.template-btn:hover {
	background: #c2a773 none repeat scroll 0 0;
	border: 1px solid #c2a773;
	color: #ffffff;
}

/** products ***/
section.products-grid {
	padding-top: 22px;
    padding-bottom: 22px;
    position: relative;
    overflow: hidden;
}

section.products-grid .product {
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    margin-bottom:20px;
    height:440px;
}

section.products-grid .product .thumbnail {
    height: 300px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

section.products-grid .product .thumbnail img {
	margin-top:20px;
}

.category-products {
	margin-top:20px;
}

.listing-product-name {
}


.listing-product-name:hover{
    color:#FFFFFF;
}

.width-100 {
	width:100%;
}

.hcenter {
	text-align:center;
}

.cart-close {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

.cart-totals-table {
	margin-bottom: 20px;
}

.wc-proceed-to-checkout {
	text-align:right;
}

.wc-proceed-to-checkout a {
	text-transform: uppercase !important;
}

#main-content {
	
	margin-top:40px;
	margin-bottom:40px;
	
}

.cart-main-area {
    margin-bottom: 0px !important;
    padding-top: 0px !important;
}

/** BTNS   http://codepen.io/getagain/pen/Ftien **/

.transition-ano {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/************************************\
Setup
\************************************/

*{
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.specialPrice {
  color:#ff0000;
}


.store-btn {
  margin-top:0px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.store-btn-addtocart {
	display: inline-block;
	line-height: 52px;
}

.store-btn-more {
	display: inline-block;
	line-height: 62px;
}

.store-btn .more {
    float: left;
    background-color: #e09e25;
    color: white;
    padding: 0 1.3em;
    font-size: 1.0em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    line-height: 42px;
    text-decoration: none;	
}

.store-btn .addToCart {
    float: left;
    background-color: #555555;
    color: white;
    padding: 0 1.3em;
    font-size: 1.0em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    line-height: 42px;
    text-decoration: none;	
}



.store-btn{
  min-width: 2em;
}

.order-total-label {
	text-transform:uppercase;
}

#customerAgreement {
	margin-left:20px;
}

.single-new-product-override {
	margin-bottom: 10px !important;
	height:150px !important;
}

/** Laptop **/
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
  

}

@media (max-width: 940px) {

    .banner-text h2 {
		font-size:28px
	}
	
	.banner-text {
		font-size:14px
	}
	
}

@media (max-width: 650px) {

    .banner-text h2 {
		font-size:23px
	}
	
	.banner-text {
		font-size:13px
	}
	
	.slider-button {
		display:none;
	}
}

@media (max-width: 460px) {
	
	.banner-text h2 {
		font-size:18px
	}
	
	.banner-text {
		font-size:11px
	}
	
	.slider-button {
		display:none;
	}

}

/** large **/
@media (min-width: 502px) {
	#searchField {}
	
	.langMenu {
		display:none;
	}

}

/** small **/
@media (max-width:501px) {
	
	#searchField {}
	
	.langMenu {
		display:block;
	}

	
}



/** typeahead search **/

.twitter-typeahead {
  width: 100%;

}
.input-group .twitter-typeahead {
  display: table-cell !important;
}
.twitter-typeahead .tt-hint {
  color: #999999;
}
.twitter-typeahead .tt-input {
  z-index: 2;
}
.twitter-typeahead .tt-input[disabled],
.twitter-typeahead .tt-input[readonly],
fieldset[disabled] .twitter-typeahead .tt-input {
  cursor: not-allowed;
  background-color: #eeeeee !important;
}
.tt-dropdown-menu {
  position: absolute;
  top: auto !important;
  left: auto !important;
  z-index: 1000;
  min-width: 160px;
  width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.tt-dropdown-menu .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  /**color: #333333;**/
  white-space: nowrap;
  text-align: left !important;
}
.tt-dropdown-menu .tt-suggestion.tt-cursor {
  text-decoration: none;
  outline: 0;
  background-color: #FAF9F9;
  color: #cccccc !important;
  cursor:pointer;
 -webkit-appearance:textfield;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a {
  color: #ffffff !important;
}
.tt-dropdown-menu .tt-suggestion p {
  margin: 0;
}


/** end twitter typeahead search **/


.banner-slider {
  /* Style the actual content */
}
.banner-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1em;
  width: 30%;
  height: 100%;
}
.banner-text h2 {
  margin: 0;
  color:#ffffff;
}
.banner-text p {
  margin: 1em 0;
  color:#ffffff;
}
.banner-slider .banner-text button-link {
  padding: 0.25em 0.5em;
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.banner-slider .image-content {
  line-height: 0;
}
.banner-slider .image-content img {
  max-width: 100%;
}

.your-order-table {
	overflow-x:hidden !important;
}

.v-margin20 {
	margin-top:20px;
	margin-bottom:20px;
}

.checkbox-form {
	padding-top:10px;
}

.payment-method-box {
	width:100%;
	padding:10px 10px 10px;
}

/** checkout **/
.nav-tabs>li>a {
	border-color: #d8d8d8;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  background-color: #F9F9F9;
}

/*
========================================================================
    Banner
========================================================================
*/
.banner {
  position: relative;
}

.banner:after, .banner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.banner:hover:after {
  top: 50%;
  bottom: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.banner:hover:before {
  right: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.banner .banner__image img {
  width: 100%;
}

.banner .banner__inner {
  position: absolute;
  z-index: 1;
  color: #333;
}

.banner .banner__inner a {
  display: block;
  width: 111px;
  height: 30px;
  line-height: 30px;
  background-color: #e4c7a2;
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  margin: 0 auto;
  color: #333;
}

.banner .banner__inner a:hover {
  background-color: #333;
  color: #e4c7a2;
}

.banner .banner__inner.banner-style-1 {
  color: #333;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 31px;
  line-height: 3.7696774194;
  font-weight: 300;
}

.banner .banner__inner.banner-style-1 > span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.banner .banner__inner.banner-style-1 .percent {
  margin-left: 7px;
  padding: 0 55px 0 15px;
  font-size: 74px;
  line-height: 1.2432432432;
  font-weight: 600;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.banner .banner__inner.banner-style-1 .percent:before {
  content: "off";
  font-weight: normal;
  text-transform: lowercase;
  font-size: 25px;
  position: absolute;
  right: 15px;
  bottom: 12px;
}

.banner .banner__inner.banner-style-1 .percent:after {
  content: '%';
  font-weight: normal;
  text-transform: lowercase;
  font-size: 25px;
  position: absolute;
  right: 25px;
  top: 15px;
}

.banner .banner__inner.banner-style-2 {
  padding: 17px 60px 25px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  line-height: 1.15;
  left: 93px;
  top: 50px;
}

.banner .banner__inner.banner-style-2 p {
  font-size: 18.52px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.banner .banner__inner.banner-style-2 p span {
  font-size: 74px;
  font-weight: 600;
}

.banner .banner__inner.banner-style-2 p .amount {
  font-size: 18.52px;
  font-weight: normal;
}

.banner .banner__inner.banner-style-2 a {
  position: absolute;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #e4c7a2;
  font-size: 13px;
  color: #333;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.banner .banner__inner.banner-style-2 a:hover {
  background-color: #333;
  color: #e4c7a2;
}

.banner .banner__inner.banner-style-3 {
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.banner .banner__inner.banner-style-3 p {
  text-align: center;
  color: #333;
  font-size: 18px;
  text-transform: uppercase;
}

.banner .banner__inner.banner-style-3 p span {
  font-weight: 600;
  font-size: 30px;
  white-space: nowrap;
  margin-top: 5px;
  margin-bottom: 5px;
}

.banner .banner__inner.banner-style-4 {
  top: 34px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.banner .banner__inner.banner-style-4 p {
  text-align: center;
  color: #333;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  line-height: 1.1;
  margin-bottom: 23px;
}

.banner .banner__inner.banner-style-4 p span {
  text-transform: initial;
  font-weight: normal;
  font-size: 18px;
  white-space: nowrap;
  line-height: 24px;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .banner .banner__inner.banner-style-2 {
    padding: 17px 25px 25px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .banner .banner__inner.banner-style-2 a {
    padding: 0;
  }
}

@media only screen and (max-width: 575px) {
  .banner .banner__inner.banner-style-1 {
    white-space: normal;
    font-size: 25px;
    padding-left: 7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    line-height: 1;
  }
  .banner .banner__inner.banner-style-1 .percent {
    display: block;
    font-size: 40px;
    line-height: 1;
    padding: 0 40px 0 0px;
  }
  .banner .banner__inner.banner-style-1 .percent:before, .banner .banner__inner.banner-style-1 .percent:after {
    font-size: 16px;
  }
  .banner .banner__inner.banner-style-1 .percent:before {
    right: 5px;
    bottom: 5px;
  }
  .banner .banner__inner.banner-style-1 .percent:after {
    right: 15px;
    top: 8px;
  }
  .banner .banner__inner.banner-style-2 {
    padding: 17px 25px 25px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .banner .banner__inner.banner-style-2 a {
    padding: 0;
  }
}

.banners {
  overflow: hidden;
}

.banners .banners-inner {
  margin: -5px;
}

.banners .banners-inner [class^="banner-size-"] {
  padding: 0 5px;
  margin-bottom: 10px;
}

.banners .banners-inner .au-banner {
  height: 100%;
}

.banners .banner-size-1 {
  width: 48.9473684211%;
  height: 370px;
}

.banners .banner-size-2 {
  width: 25.5263157895%;
  height: 370px;
}

.banners .banner-size-3 {
  width: 25.5128879537%;
  height: 750px;
}

.au-banner {
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.au-banner:after, .au-banner:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.au-banner:hover:after {
  top: 50%;
  bottom: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.au-banner:hover:before {
  right: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.2);
}

.au-banner:hover .title {
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -o-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}

.au-banner:hover .sub-title {
  -webkit-animation: bounceInLeft 1s;
  -moz-animation: bounceInLeft 1s;
  -o-animation: bounceInLeft 1s;
  animation: bounceInLeft 1s;
}

.au-banner:hover.style-1 .title {
  -webkit-animation: bounceInLeft 1s;
  -moz-animation: bounceInLeft 1s;
  -o-animation: bounceInLeft 1s;
  animation: bounceInLeft 1s;
}

.au-banner:hover.style-1 .sub-title {
  -webkit-animation: fadeInDown 1s;
  -moz-animation: fadeInDown 1s;
  -o-animation: fadeInDown 1s;
  animation: fadeInDown 1s;
}

.au-banner .banner-content {
  position: absolute;
  line-height: 44px;
  color: #333;
  top: 90px;
}

.au-banner .banner-content .title {
  font-size: 40px;
  color: #333;
  font-weight: 400;
  margin-bottom: 3px;
}

.au-banner .banner-content .sub-title {
  font-size: 20px;
  margin-bottom: 32px;
  font-weight: 400;
}

.au-banner .banner-content .banner-btn {
  display: inline-block;
  padding: 3px 16px;
  background-color: #555555;
  font-size: 13px;
  line-height: 1.8461538462;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.au-banner .banner-image img {
  width: 100%;
}

.au-banner.banner-medium .banner-content .title {
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 15px;
}

.au-banner.banner-medium .banner-content .sub-title {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 28px;
}

.au-banner.style-1 .banner-content {
  width: 100%;
  top: 105px;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.au-banner.style-1 .banner-content .sub-title {
  margin-bottom: 3px;
}

.au-banner.style-1 .banner-content .title {
  margin-bottom: 32px;
}

.au-banner.style-2 .banner-content {
  left: 583px;
}

.au-banner.style-3 .banner-content {
  left: 40px;
}

.au-banner.style-4 .banner-content {
  left: 514px;
}

.au-banner.style-5 .banner-content {
  top: 105px;
  right: 80px;
}

.au-banner.style-6 .banner-content {
  top: 105px;
  left: 80px;
}

.au-banner.style-7 .banner-content {
  top: 45px;
  right: 285px;
}

.au-banner.style-8 .banner-content {
  top: 45px;
  left: 275px;
}

.au-banner.style-9 {
  text-align: center;
  overflow: auto;
}

.au-banner.style-9 .banner-content {
  padding-top: 50px;
  position: unset;
}

.au-banner.style-9 .banner-content .title {
  font-size: 31px;
  font-weight: 300;
  display: inline-block;
}

.au-banner.style-9 .banner-content .title span {
  display: inline-block;
  margin-left: 7px;
  margin-top: 15px;
  padding: 0 55px 0 15px;
  font-size: 74px;
  line-height: 1.2432432432;
  font-weight: 600;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.au-banner.style-9 .banner-content .title span:before {
  content: "off";
  font-weight: normal;
  text-transform: lowercase;
  font-size: 25px;
  position: absolute;
  right: 15px;
  bottom: 12px;
}

.au-banner.style-9 .banner-content .title span:after {
  content: '%';
  font-weight: normal;
  text-transform: lowercase;
  font-size: 25px;
  position: absolute;
  right: 25px;
  top: 15px;
}

.au-banner.style-10 {
  text-align: center;
}

.au-banner.style-10 .banner-content {
  display: inline-block;
  min-width: 320px;
  position: relative;
}

.au-banner.style-10 .banner-content:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
  border: 1px solid rgba(0, 0, 0, 0.08);
  z-index: 0;
}

.au-banner.style-10 .banner-content .title {
  font-size: 74px;
  font-weight: 600;
}

.au-banner.style-10 .banner-content .sub-title {
  font-size: 18px;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 3px;
}

.au-banner.style-10 .banner-content > * {
  position: relative;
  z-index: 1;
}

.au-banner.style-11 {
  text-align: center;
  overflow: auto;
}

.au-banner.style-11 .banner-content {
  padding-top: 50px;
  position: unset;
}

.au-banner.style-11 .banner-content .title {
  font-size: 26px;
  font-weight: 300;
  display: inline-block;
}

.au-banner.style-11 .banner-content .title span {
  display: inline-block;
  margin-left: 7px;
  margin-top: 15px;
  padding: 0 55px 0 15px;
  font-size: 64px;
  line-height: 1.2432432432;
  font-weight: 600;
  position: relative;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.au-banner.style-11 .banner-content .title span:before {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 25px;
  position: absolute;
  right: 15px;
  bottom: 12px;
}

.au-banner.style-11 .banner-content .title span:after {
  font-weight: normal;
  text-transform: lowercase;
  font-size: 25px;
  position: absolute;
  right: 25px;
  top: 15px;
}

@media (max-width: 1600px) {
  .au-banner.style-2 .banner-content {
    left: 483px;
  }
  .au-banner.style-4 .banner-content {
    left: 414px;
  }
}

@media (max-width: 1480px) {
  .au-banner .banner-content {
    top: 60px;
  }
  .au-banner.style-1 .banner-content {
    top: 70px;
  }
}

@media (max-width: 1400px) {
  .au-banner.style-2 .banner-content {
    left: 390px;
  }
  .au-banner.style-3 .banner-content {
    left: 25px;
  }
  .au-banner.style-4 .banner-content {
    left: 340px;
  }
}

@media (max-width: 1200px) {
  .au-banner.style-2 .banner-content {
    left: 350px;
  }
  .au-banner.style-3 .banner-content {
    left: 25px;
  }
  .au-banner.style-4 .banner-content {
    left: 300px;
  }
  .au-banner.style-7 .banner-content {
    right: 200px;
  }
  .au-banner.style-8 .banner-content {
    left: 200px;
  }
}

@media (max-width: 992px) {
  .banners .banner-size-1 {
    width: 100%;
  }
  .banners .banner-size-2,
  .banners .banner-size-3 {
    width: 50%;
  }
  .au-banner.style-2 .banner-content {
    left: 583px;
  }
  .au-banner.style-3 .banner-content {
    left: 40px;
  }
  .au-banner.style-4 .banner-content {
    left: 514px;
  }
  .au-banner.style-7 .banner-content {
    right: 150px;
  }
  .au-banner.style-8 .banner-content {
    left: 150px;
  }
}

@media (max-width: 767px) {
  .au-banner.style-2 .banner-content {
    left: 60%;
  }
  .au-banner.style-3 .banner-content {
    left: 30px;
  }
  .au-banner.style-4 .banner-content {
    left: 55%;
  }
  .au-banner.style-7 .banner-content {
    right: 330px;
  }
  .au-banner.style-8 .banner-content {
    left: 310px;
  }
}

@media (max-width: 575px) {
  .banners .banner-size-2,
  .banners .banner-size-3 {
    width: 100%;
  }
  .banners .banner-size-3 {
    height: 370px;
  }
  .au-banner .banner-content {
    top: 80px !important;
  }
  .au-banner.style-3 .banner-content {
    left: 25px;
  }
  .au-banner.style-4 .banner-content {
    left: 56%;
  }
  .au-banner.style-5 .banner-content {
    top: 50px !important;
    right: 20px;
  }
  .au-banner.style-6 .banner-content {
    left: 20px;
    top: 40px !important;
  }
  .au-banner.style-7 .banner-content {
    top: 50px !important;
    right: 43%;
  }
  .au-banner.style-8 .banner-content {
    top: 50px !important;
    left: 45%;
  }
  .au-banner.style-10 .banner-content {
    min-width: 250px;
  }
}


/** BANNER **/
.bannerImage {
  width:100%;
  height:680px;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
/** **/

.mr-5 {
    margin-right: 5px;
}
.ml-5 {
    margin-left: 5px;
}
.w-100{
    width: 100px;
}
.w-150{
    width: 150px;
}
.w-250{
    width: 250px;
}




.topBar {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 13px;
}
.topBar ul {
    margin: 0;
}
.topBar ul li {
    line-height: 42px;
}
.topBar a {
    color: #878c94;text-decoration:none;
}
.text-primary {
    color: #2E2D25;
}

.topBar ul.topBarNav {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.topBar ul.topBarNav li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
    border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li:last-child {
    border-right: none;
}
.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}



.topBar ul.topBarNav li ul {
    background-color: #ffffff;
    position: absolute;
    top: 42px;
    left: auto;
    min-width: 10px;
    right: 4px;
    border-radius: 0px;
    border: solid 0px;
    margin-right: -4px;
    padding: 0;
    list-style-type: none;
    z-index: 9999;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
.topBar ul.topBarNav li ul li {
    display: block;
    line-height: 30px;
    width: 100%;
    border: none;
}

.topBar ul.topBarNav li a {
    display: block;
    padding-left: 12px;
    padding-right: 12px;
}
.topBar .dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94; 
    font-size:15px
    white-space: nowrap;
}
.topBar .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: #555555;
    text-decoration: none;
   background-color: rgba(0, 0, 0, 0.02);
}


/*CART/////////////////////*/


.cart-items::-webkit-scrollbar {
    width: 6px;
    background-color: #ECECEC;
}
.cart-items::-webkit-scrollbar-track {
   
}
.cart-items::-webkit-scrollbar-thumb {
    background-color: #555555;
    outline: 1px solid black;
}

.topBar ul.topBarNav li ul.cart .cart-items{
    padding: 10px;
    /**height: 200px;**/
    overflow: auto;
}

.topBar ul.topBarNav li ul.cart .cart-items .items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li {
    overflow: hidden;
    clear: left;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.topBar ul.topBarNav li ul.cart .cart-items .items li .product-image {
    width: 60px;
    float: left;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li a {
    margin: 0;
    padding: 0;
    line-height: normal;
    background-color: transparent;
    display: inline;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details {
    position: relative;
    margin-left: 60px;
    padding: 0 15px 0 10px;
}
.topBar ul.topBarNav li ul.cart .cart-items .items li .product-details .close-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    line-height: normal;
}
.topBar ul.topBarNav li ul.cart .cart-footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.02);
}
.topBar ul.topBarNav li ul.cart .cart-footer a {
    text-align: center;
    padding: 10px 10px;
    margin: 0;
    background-color: transparent;
}


/*/////////////////////////middleBar//////////////////////*/

.middleBar {
    padding: 10px 0 0 0;
    margin: 0;min-height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

@media (min-width: 767px){

.display-table {
    display: table;
    width: 100%;
}
.vertical-align {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
 .grid-space-1 div[class*="col-"] {
    padding: 0 1px;
}
    }

@media (max-width: 767px){

div[class^="col-"] {
    margin-bottom: 30px;
}
}

.middleBar .form-control {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.form-control.input-lg {
    font-size: 15px;
}

.middleBar .btn.btn-default {
    color: #ffffff;
    background-color: #555555;
    border: 1px solid #555555;
    border-radius: 0px;
}
.middleBar .header-items .header-item {
    display: inline-block;
}

.middleBar .header-items .header-item a {
    position: relative;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.08);
    width: 40px;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    text-align: center;
    color: #35404f;
}
.middleBar .header-items .header-item a sub {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background-color: #555555;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    color: #ffffff;
    font-size: 9px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.middleBar .header-items .header-item a:hover {
    background-color: #555555;
    color: #ffffff;
}

/*/////////////////////////navbar-default///////////////*/

.navbar-default {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #ffffff;
    margin-bottom: 0;
    border: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #555555;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:after {
   border-top:solid 2px #555555;
   
}
.navbar-default .dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #878c94;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}

.dropdown-menu > li > a {
    display: block;
    padding: 6px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #878c94;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover{
     color: #555555;
}


/***********************
     megaDropMenu
////////////////////////////*/

.navbar-default .container{
    position:relative;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu {
    position: static;
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu{
    width: 100%;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li:first-child{
    font-size: 16px;
    text-transform: uppercase;
    /* text-align: center; */
    color: #555555;
    margin-top:10px;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a{
    display:block;color:#878c94;font-size: 14px;text-decoration:none;padding:5px 10px;
}
.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu li ul li a:hover{
     color: #555555;
    text-decoration: none;
   background-color: rgba(0, 0, 0, 0.02);
}

.navbar-default .navbar-collapse li.dropdown.megaDropMenu .dropdown-menu img{
    display: block;
    max-width: 100%;
    padding: 20px;
}

/** video header **/
#header-video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#header-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

#header-video .container {
  position: relative;
  z-index: 2;
}

#header-video .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

#header-video .video-inner {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
}

#header-video .video-inner h1 {
    /* Text styles */
    font-size: 6em;
    color: #ffffff !important;
}

#header-video .video-inner p {
    /* Text styles */
    color: #ffffff !important;
}

@media (pointer: coarse) and (hover: none) {
  #header-video {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  #header-video video {
    display: none;
  }
}


/** FAQ **/
.template_faq {
    background: #edf3fe none repeat scroll 0 0;
}
.panel-group {
    background: #fff none repeat scroll 0 0 !important;
    border-radius: 3px !important;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04) !important;
    margin-bottom: 0 !important;
    padding: 30px !important;
}
#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
#accordion .panel-heading {
    border-radius: 30px;
    padding: 0;
}
#accordion .panel-title a {
    background: #555555 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px 12px 50px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: #555555 none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 25px;
    height: 55px;
    left: -20px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: -5px;
    transition: all 0.3s ease 0s;
    width: 55px;
}
#accordion .panel-title a.collapsed::after {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    content: "";
}
#accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 20px 25px 10px 9px;
    position: relative;
}
#accordion .panel-body p {
    border-left: 1px dashed #8c8c8c;
    padding-left: 25px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}


